Repository commaai/opendbc, pull requests merged in 2022-06, with the labels that each got.

#622 Add Toyota LTA state signal
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Labels: enhancement

#626 tests: remove DBC parsing timing test
  can/tests/test_can_parser.py
  can/tests/test_dbc_parser.py
Labels: tests

#635 Honda: merge Nidec DBCs
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_honda_common.dbc
  generator/honda/_nidec_2017.dbc
  generator/honda/_nidec_common.dbc
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_clarity_hybrid_2018_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_fit_hybrid_2018_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Labels: cleanup
