Repository commaai/opendbc, pull requests merged in 2023-07, with the labels that each got.

#860 Add ISG state to HK generic
  hyundai_kia_generic.dbc
Labels: DBC signals

#872 tests: rename CAN Parser performance test file
  can/tests/test_parser_performance.py
Labels: cleanup, tests

#870 CANParser: check if signals exist
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Labels: bugfix

#880 Toyota: add LTA related message from camera
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Labels: DBC signals

#879 Toyota: update an LTA signal name
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Labels: DBC signals

#876 Toyota: add comment for LTA signal
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Labels: DBC signals

#885 Toyota: add LTA comment for SETME_X1
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Labels: DBC signals

#887 Toyota: update LTA comment for SETME_X1
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Labels: DBC signals

#889 tests: global constants
  can/tests/__init__.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_packer_parser.py
Labels: cleanup, tests

#888 CANDefine: test all DBCs
  can/tests/test.dbc
  can/tests/test_dbc_exceptions.py
  can/tests/test_define.py
Labels: tests

#758 Add Subaru Global 2022 DBC
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Labels: DBC signals

#895 CANPacker: don't track size
  can/packer_pyx.pyx
Labels: cleanup

#891 CANPacker: refactor to avoid undefined signals
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Labels: enhancement, cleanup

#897 packer: import stdexcept
  can/packer.cc
Labels: bugfix
