Repository commaai/opendbc, pull requests merged in 2023-06, with the labels that each got.

#851 setup cython linting
  .pre-commit-config.yaml
  can/common.pxd
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  pyproject.toml
Labels: cleanup, tests

#858 Subaru: add AEB actuation signal
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Labels: DBC signals

#864 Toyota: fix KINEMATICS signal
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Labels: bug, DBC signals
