Repository commaai/opendbc, pull requests merged in 2023-11, with the labels that each got.

#962 Update gm_global_a_lowspeed.dbc to include BOLT EUV Blindspot indicator
  gm_global_a_lowspeed.dbc
Labels: DBC signals

#972 CANParser: rename timestamp variables
  can/common.h
  can/parser.cc
Labels: cleanup

#976 CANParser: clip `counter_fail` to the max
  can/parser.cc
  can/tests/test_packer_parser.py
Labels: bugfix

#977 CANParser: process all signals before updating values
  can/parser.cc
  can/tests/test_packer_parser.py
Labels: bugfix
