Repository commaai/opendbc, pull requests merged in 2023-08, with the labels that each got.

#905 Toyota: rename ACC_HUD to PCS_HUD
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Labels: DBC signals

#915 Toyota: Follow distance signal for unsupported DSU cars
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Labels: DBC signals

#912 parser: update_strings propagate cpp exceptions in py bindings
  can/common.pxd
  can/tests/test_dbc_exceptions.py
Labels: bugfix

#828 CANParser: parse all signals for given messages
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_checksums.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
Labels: enhancement

#919 Hyundai CAN FD: fix wheel speed units
  hyundai_canfd.dbc
Labels: DBC signals, bugfix

#928 Hyundai CAN FD: rename LKAS->SET_ME_1
  hyundai_canfd.dbc
Labels: DBC signals

#927 Hyundai CAN-FD HDA2: specify signals to suppress LFA
  hyundai_canfd.dbc
Labels: DBC signals

#923 Hyundai CAN-FD HDA2: alternate message to suppress LFA
  hyundai_canfd.dbc
Labels: DBC signals

#932 Hyundai CAN FD: alt blinker lamp signals
  hyundai_canfd.dbc
Labels: DBC signals
