Repository commaai/opendbc, pull requests merged in 2024-11, with the labels that each got.

#1434 Ford long: smooth creep compensation
  opendbc/car/ford/carcontroller.py
Labels: enhancement, car, ford

#1383 CANParser: filter CAN messages by bus and addresses
  opendbc/can/parser_pyx.pyx
Labels: can

#1381 CANParser: Initialize value dicts directly from DBC Msg
  opendbc/can/common.h
  opendbc/can/parser.cc
  opendbc/can/parser_pyx.pyx
  opendbc/can/tests/test_packer_parser.py
Labels: can

#1382 CANParser: expose `MessageState` to Cython to eliminate data copying
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/common_dbc.h
  opendbc/can/parser.cc
  opendbc/can/parser_pyx.pyx
Labels: cleanup, can

#1436 CANParser: only filter bus
  opendbc/can/parser_pyx.pyx
Labels: can

#1442 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
Labels: car, chrysler, hyundai, toyota, fingerprint, bot, docs

#1443 [bot] Car docs: update model years from new users
  opendbc/car/ford/values.py
Labels: car, ford, bot, docs

#1444 tesla: fix standstill
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#1445 Tesla: add missing parameter
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#1446 Ford: enable long by default
  opendbc/car/ford/interface.py
Labels: car, ford

#1448 Toyota: set pcm_accel_net when possible
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#1447 Toyota: set permit braking when stopping
  opendbc/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#1390 Toyota: always send ACC at 33 Hz
  opendbc/car/toyota/carcontroller.py
Labels: cleanup, car, toyota

#1461 Toyota: learn offset for PCM acceleration request
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1466 Toyota: move accel compensation logic to 33 Hz block
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1465 Lexus ES TSS2: fix acceleration overshoot from a stop
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1464 Toyota: more responsive start from stop
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1469 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, volkswagen, fingerprint, bot, docs

#1474 Stale bot for PRs
  .github/workflows/stale.yml
Labels: CI / testing

#1480 Toyota: fix accel rate limit
  opendbc/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#1481 Toyota: add accel winddown limit
  opendbc/car/toyota/carcontroller.py
Labels: enhancement, car, toyota

#1477 Toyota: use a filter for PCM compensation
  opendbc/car/toyota/carcontroller.py
Labels: enhancement, car, toyota

#1376 Chrysler: Add 2024 Pacifica Hybrid FW
  opendbc/car/chrysler/fingerprints.py
Labels: car, chrysler, fingerprint, stale

#1485 VW MQB: Add FW for 2024 Volkswagen Taos
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint

#1486 Revert "Hyundai: always publish cruise and main buttons"
  opendbc/car/hyundai/carstate.py
Labels: car, hyundai

#1487 Remove VW footnote from website
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen

#1488 Fix migrate_onroadEvents for soundsUnavailableDEPRECATED
  opendbc/car/car.capnp
Labels: car

#1489 Toyota: lower accel down rate limit
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1490 Toyota: fix acceleration rate limit
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1470 CAN parser dict
  opendbc/car/__init__.py
  opendbc/car/body/carcontroller.py
  opendbc/car/body/carstate.py
  opendbc/car/body/values.py
  opendbc/car/chrysler/carcontroller.py
  opendbc/car/chrysler/carstate.py
  opendbc/car/chrysler/interface.py
  opendbc/car/chrysler/radar_interface.py
  opendbc/car/chrysler/values.py
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/carstate.py
  opendbc/car/ford/interface.py
  opendbc/car/ford/radar_interface.py
  opendbc/car/ford/values.py
  opendbc/car/gm/carcontroller.py
  opendbc/car/gm/carstate.py
  opendbc/car/gm/radar_interface.py
  opendbc/car/gm/values.py
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/carstate.py
  opendbc/car/honda/radar_interface.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/radar_interface.py
  opendbc/car/hyundai/values.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/carcontroller.py
  opendbc/car/mazda/carstate.py
  opendbc/car/mazda/values.py
  opendbc/car/nissan/carcontroller.py
  opendbc/car/nissan/carstate.py
  opendbc/car/nissan/values.py
  opendbc/car/subaru/carcontroller.py
  opendbc/car/subaru/carstate.py
  opendbc/car/subaru/values.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/values.py
  opendbc/car/tests/test_platform_configs.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/radar_interface.py
  opendbc/car/toyota/tests/test_toyota.py
  opendbc/car/toyota/values.py
  opendbc/car/volkswagen/carcontroller.py
  opendbc/car/volkswagen/carstate.py
  opendbc/car/volkswagen/values.py
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen

#1495 Toyota: PERMIT_BRAKING shouldn't use rate limited decel
  opendbc/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#1494 Toyota: adaptive ACCEL_NET for new long tune
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/interface.py
Labels: enhancement, bugfix, car, toyota

#1496 fix DBC dict check regression
  opendbc/car/chrysler/interface.py
  opendbc/car/hyundai/interface.py
Labels: car, chrysler, hyundai

#1497 car interfaces: raise hypothesis test examples
  opendbc/car/tests/test_car_interfaces.py
Labels: car

#1503 GM: SDGM CarSpecs to GMCarSpecs
  opendbc/car/gm/values.py
Labels: car, gm

#1505 Reapply "Hyundai: always publish cruise and main buttons" (#1486)
  opendbc/car/hyundai/carstate.py
Labels: car, hyundai

#1507 Toyota: filter pitch for new tune
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1504 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, hyundai, toyota, volkswagen, fingerprint, bot, docs

#1508 Toyota: don't release brakes coming to a stop w/ new tune
  opendbc/car/toyota/carstate.py
Labels: bugfix, car, toyota

#1515 Toyota: prevent overshoot w/ new tune
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1514 Match pid.py file from openpilot
  opendbc/car/common/pid.py
Labels: car

#1516 CI: fix macOS test running
  .github/workflows/tests.yml
  SConstruct
  pyproject.toml
  test.sh
Labels: CI / testing

#1282 Hyundai CAN Longitudinal: Enable for Camera SCC cars
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/interface.py
Labels: car, hyundai, stale

#1228 GM: Add Stock FCW to CarState
  opendbc/car/gm/carstate.py
Labels: car, gm, stale

#1517 Toyota: use a PID for PCM compensation
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1513 Corolla TSS2: support new Toyota tune
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/interface.py
Labels: enhancement, car, toyota

#1523 Fix DBC scons build
  opendbc/dbc/SConscript
  opendbc/dbc/generator/tesla/_radar_common.py
  opendbc/dbc/generator/tesla/tesla_radar_bosch.py
  opendbc/dbc/generator/tesla/tesla_radar_continental.py
Labels: DBC signals

#1521 ci: don't timeout if the runner is slow to pick up the job
  .github/workflows/tests.yml
Labels: CI / testing

#1526 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/ford/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, ford, toyota, volkswagen, fingerprint, bot, docs

#1532 Toyota: move longitudinal PID into carcontroller
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/interface.py
Labels: car, toyota, refactor

#1533 Toyota: improve ego acceleration near stop
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
Labels: enhancement, car, toyota

#1535 Toyota TSS2: add longitudinal derivative
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/interface.py
Labels: enhancement, car, toyota

#1542 remove cppcheck
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  opendbc/can/logger.h
Labels: CI / testing, can
