Repository commaai/opendbc, pull requests merged in 2024-12, with the labels that each got.

#1549 [bot] Car docs: update model years from new users
  opendbc/car/mazda/values.py
Labels: car, mazda, bot, docs

#1551 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/values.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, toyota, volkswagen, bot, docs

#1550 [bot] Fingerprints: add missing FW versions from CAN fingerprinting cars
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint, bot, docs

#1554 Toyota: new longitudinal tune improvements
  opendbc/car/toyota/carcontroller.py
Labels: enhancement, car, toyota

#1553 Toyota: lower hybrid longitudinal actuator delay
  opendbc/car/toyota/interface.py
Labels: enhancement, car, toyota

#1559 Toyota: error correct on future acceleration
  opendbc/car/toyota/carcontroller.py
Labels: enhancement, car, toyota

#1560 Toyota: remove PCM compensation
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
  opendbc/car/toyota/interface.py
Labels: car, toyota

#1562 Toyota: fix future aEgo calculation
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1564 Hyundai: Add latest 2024 Ioniq 6 fingerprints
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#1566 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/honda/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, honda, hyundai, volkswagen, fingerprint, bot, docs

#1567 Toyota: raise max acceleration for TSS2
  opendbc/car/toyota/interface.py
Labels: car, toyota

#1563 Hyundai CAN Longitudinal: Enable for Camera SCC cars
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#1530 Hyundai CAN: new gear shifter signal for `EV, HEV, PHEV`
  opendbc/car/hyundai/carstate.py
  opendbc/dbc/hyundai_kia_generic.dbc
Labels: DBC signals, car, hyundai

#1571 GM: CAN parser cleanup, prep for Yukon
  opendbc/car/gm/carstate.py
Labels: car, gm

#1582 CI: just use ./test.sh
  .github/workflows/tests.yml
  pyproject.toml
  test.sh
Labels: CI / testing

#1573 Add speed limit control signals for Ioniq PHEV 2020
  opendbc/dbc/hyundai_kia_generic.dbc
Labels: DBC signals

#1584 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, hyundai, toyota, volkswagen, fingerprint, bot, docs

#1592 Honda: Bus abstraction cleanup
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/hondacan.py
  opendbc/car/honda/interface.py
Labels: car, honda

#1590 CI: Update CARS.md every night
  .github/workflows/update-cars-docs.yml
Labels: CI / testing

#1603 VW MQB: Temporarily remove 2024 Volkswagen Tiguan
  docs/CARS.md
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen

#1604 Toyota: Cleanup SecOC key mismatch logging
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1606 docs: remove unused code
  opendbc/car/docs.py
Labels: car
