Repository commaai/opendbc, pull requests merged in 2024-10, with the labels that each got.

#1310 Toyota: DBC for RAV4 Prime and Sienna
  opendbc/dbc/generator/toyota/toyota_rav4_prime.dbc
  opendbc/dbc/toyota_rav4_prime_generated.dbc
Labels: DBC signals

#1211 GM: Car Port for 2022-23 Chevy Traverse
  opendbc/car/gm/fingerprints.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, gm, fingerprint

#1258 Nissan/carcontroller: add max steering angle safeguard for nissan
  opendbc/car/nissan/carcontroller.py
  opendbc/car/nissan/values.py
Labels: car, nissan

#1263 Tesla Model 3 / Y
  opendbc/car/tesla/__init__.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/fingerprints.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/radar_interface.py
  opendbc/car/tesla/teslacan.py
  opendbc/car/tesla/values.py
  opendbc/car/tests/routes.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/torque_data/override.toml
  opendbc/car/values.py
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals, car, tesla, fingerprint

#1278 Car Interfaces: Refactor button state tracking with `ButtonTracker`
  opendbc/car/__init__.py
  opendbc/car/chrysler/carstate.py
  opendbc/car/ford/carstate.py
  opendbc/car/gm/carstate.py
  opendbc/car/honda/carstate.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/toyota/carstate.py
Labels: car, chrysler, ford, gm, honda, hyundai, mazda, nissan, toyota

#1311 support for SecOC cars
  opendbc/car/interfaces.py
  opendbc/car/secoc.py
  opendbc/car/structs.py
Labels: car

#1314 temp remove SecOC support
  opendbc/car/interfaces.py
  opendbc/car/secoc.py
  opendbc/car/structs.py
Labels: car

#906 VW MQBevo: Initial DBC
  opendbc/can/dbc.cc
  vw_mqbevo.dbc
Labels: can

#1316 Revert "temp remove SecOC support"
  opendbc/car/interfaces.py
  opendbc/car/secoc.py
  opendbc/car/structs.py
Labels: car

#1317 structs: add lkasEnabled and lkasDisabled
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/structs.py
Labels: car, mazda, nissan

#1305 Subaru: Add FW for 2020 Subaru Impreza
  opendbc/car/subaru/fingerprints.py
Labels: car, subaru, fingerprint

#1322 Toyota: low speed lockout is an ACC fault
  opendbc/car/toyota/carstate.py
Labels: cleanup, car, toyota

#1323 GM: signed wheel speeds
  opendbc/car/gm/carstate.py
Labels: cleanup, car, gm

#1324 Reapply "GM: signed wheel speeds (#1323)"
  opendbc/car/gm/carcontroller.py
  opendbc/car/gm/carstate.py
Labels: car, gm

#1326 Hyundai: always publish cruise and main buttons
  opendbc/car/hyundai/carstate.py
Labels: car, hyundai

#1325 CarState: add invalidLkasSetting
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/structs.py
Labels: car, mazda, nissan

#1327 CI: Add macOS CI
  .github/workflows/tests.yml
Labels: CI / testing

#1331 Generic interaction detection
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#1334 CarState: add low speed alert field
  opendbc/car/mazda/carstate.py
  opendbc/car/structs.py
Labels: car, mazda

#1332 Hyundai: Cleanup unused parameter in `create_lfahda_mfc`
  opendbc/car/hyundai/hyundaican.py
Labels: car, hyundai

#1335 VW MQB: Fix DBC location
  opendbc/dbc/vw_mqbevo.dbc
Labels: DBC signals

#1337 Toyota: DBC message for SecOC longitudinal control
  opendbc/dbc/generator/toyota/toyota_rav4_prime.dbc
  opendbc/dbc/toyota_rav4_prime_generated.dbc
Labels: DBC signals, toyota

#1339 move car.capnp to opendbc
  opendbc/car/body/carcontroller.py
  opendbc/car/car.capnp
  opendbc/car/car_helpers.py
  opendbc/car/chrysler/carcontroller.py
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/tests/test_ford.py
  opendbc/car/gm/carcontroller.py
  opendbc/car/gm/interface.py
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/carstate.py
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/include/c++.capnp
  opendbc/car/interfaces.py
  opendbc/car/mazda/carcontroller.py
  opendbc/car/mock/carcontroller.py
  opendbc/car/nissan/carcontroller.py
  opendbc/car/structs.py
  opendbc/car/subaru/carcontroller.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/volkswagen/carcontroller.py
  pyproject.toml
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen

#1338 docs: CARS.md 2.1
  docs/CARS.md
  opendbc/car/CARS_template.md
  opendbc/car/__init__.py
  opendbc/car/docs.py
  opendbc/car/docs_definitions.py
  opendbc/car/extra_cars.py
  opendbc/car/ford/values.py
Labels: car, ford, gm

#1342 docs: annotate functions used by comma website and shop
  opendbc/car/docs.py
Labels: car

#1287 Toyota: 2021-23 RAV4 Prime
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/substitute.toml
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/tests/test_toyota.py
  opendbc/car/toyota/toyotacan.py
  opendbc/car/toyota/values.py
  pyproject.toml
Labels: DBC signals, car, toyota, fingerprint

#1343 Toyota: More RAV4 Prime fingerprints
  opendbc/car/toyota/fingerprints.py
Labels: car, toyota, fingerprint

#1350 GM: Add Snow/Ice Mode
  opendbc/dbc/generator/gm/gm_global_a_powertrain.dbc
  opendbc/dbc/gm_global_a_powertrain_generated.dbc
Labels: DBC signals

#1344 Toyota: Add 2021-23 Toyota Sienna with SecOC
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/substitute.toml
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
Labels: car, toyota, fingerprint

#1355 Toyota: Add FW for 2023 RAV4 Prime
  opendbc/car/toyota/fingerprints.py
Labels: car, toyota, fingerprint

#1356 Toyota: more engine torque signals
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals

#1312 Fingerprint: Brazilian Toyota Corolla TSS2 2025
  opendbc/car/toyota/fingerprints.py
Labels: car, toyota, fingerprint

#1357 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint, bot, docs

#1354 Toyota: Fix RAV4 Prime mass and wheelbase
  opendbc/car/toyota/values.py
Labels: car, toyota

#1362 Ford: Provide detail for zeroed out signals on LateralMotionControl and LateralMotionControl2 signals
  opendbc/car/ford/carcontroller.py
Labels: car, ford

#946 Honda Civic 2022: Add traffic sign detections
  opendbc/dbc/acura_rdx_2020_can_generated.dbc
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/honda_accord_2018_can_generated.dbc
  opendbc/dbc/honda_civic_ex_2022_can_generated.dbc
  opendbc/dbc/honda_civic_hatchback_ex_2017_can_generated.dbc
  opendbc/dbc/honda_crv_ex_2017_can_generated.dbc
  opendbc/dbc/honda_insight_ex_2019_can_generated.dbc
  opendbc/dbc/honda_pilot_2023_can_generated.dbc
Labels: DBC signals, honda

#1034 Honda: DBC signals for manual trans gear position
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/honda_civic_ex_2022_can_generated.dbc
Labels: DBC signals, honda

#1364 docs: Honda updates to CARS.md
  docs/CARS.md
  opendbc/car/CARS_template.md
  opendbc/car/extra_cars.py
Labels: car

#1365 docs: add Honda Odyssey WIP to CARS.md
  docs/CARS.md
  opendbc/car/CARS_template.md
  opendbc/car/extra_cars.py
Labels: car

#1369 Tesla: don't copy DAS_accState
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#1370 Tesla: better standstill message
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#1366 Tesla: setSpeed to 0 if not active
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#1371 Tesla: fix DAS_accSpeedLimit scale
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#1372 Tesla: model 3 party can fix newline character
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#1367 Tesla: simplify the logic for handling steering-related status codes
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#1368 Tesla: allow Steering below 18mph
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#1373 add APS_eacMonitor to dbc
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#1375 Toyota: fix hybrid query for some cars
  opendbc/car/toyota/values.py
Labels: bugfix, car, toyota, fingerprint

#1380 PIDController: move to common
  opendbc/car/body/carcontroller.py
  opendbc/car/common/pid.py
Labels: cleanup, car

#1384 Toyota: Fix ACC_CONTROL_2 ACCEL_CMD scaling
  opendbc/dbc/generator/toyota/toyota_rav4_prime.dbc
  opendbc/dbc/toyota_rav4_prime_generated.dbc
Labels: DBC signals

#1387 Hyundai Kona: missing FW versions from CAN FP removal
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#1386 Toyota: use livePose pitch
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#1402 Ford: show bars on change for 4s
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/fordcan.py
Labels: car, ford

#1403 Ford: log RPM
  opendbc/car/ford/carstate.py
Labels: car, ford

#1404 Ford long: add more notes
  opendbc/car/ford/fordcan.py
Labels: car, ford

#1401 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, honda, hyundai, toyota, volkswagen, fingerprint, bot, docs

#1406 Set Ford CAN radar timestep
  opendbc/car/ford/interface.py
  opendbc/car/ford/radar_interface.py
Labels: car, ford

#1409 VW MQB: Add FW for 2024 Volkswagen Jetta
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint

#1410 Ford: trigger radar update on header message
  opendbc/car/ford/radar_interface.py
Labels: bugfix, car, ford

#1411 Ford Bronco: compensate for creeping when stopping
  opendbc/car/ford/carcontroller.py
Labels: enhancement, car, ford

#1414 Ford: check expected radar configuration
  opendbc/car/ford/radar_interface.py
Labels: enhancement, car, ford

#1416 Ford: set radar delay
  opendbc/car/ford/interface.py
Labels: car, ford

#1415 Ford: filter out close high coverage range radar points
  opendbc/car/ford/radar_interface.py
Labels: enhancement, car, ford

#1418 Ford: compensate pitch for brake actuation bit
  opendbc/car/__init__.py
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/fordcan.py
  opendbc/car/toyota/carcontroller.py
Labels: car, ford, toyota

#1419 Ford: reduce brake step response overshooting
  opendbc/car/ford/carcontroller.py
Labels: car, ford

#1413 Ford: add long tuning back
  opendbc/car/ford/interface.py
Labels: car, ford

#1394 Ford: higher curvature rate limits at low speed
  opendbc/car/ford/values.py
Labels: car, ford

#1424 [bot] Car docs: update model years from new users
  opendbc/car/ford/values.py
Labels: car, ford, bot, docs

#1423 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, hyundai, toyota, volkswagen, fingerprint, bot, docs

#1426 Ford: fix unnecessary radar point creation and deletion
  opendbc/car/ford/radar_interface.py
Labels: car, ford

#1428 Ford: use half radar points
  opendbc/car/ford/radar_interface.py
Labels: car, ford

#1427 Ford: cluster radar points
  opendbc/car/ford/radar_interface.py
  pyproject.toml
Labels: car, ford

#1430 Ford: enable radar
  opendbc/car/ford/interface.py
Labels: car, ford

#1363 Ford: enable radar parsing
  opendbc/car/ford/interface.py
Labels: car, ford

#1432 Ford: limit acceleration near PCM set speed
  opendbc/car/ford/interface.py
Labels: bugfix, car, ford
