Repository commaai/opendbc, pull requests merged in 2024-08, with the labels that each got.

#1078 Bump pre-commit hooks, more coverage (similar to openpilot)
  .pre-commit-config.yaml
  opendbc/can/tests/test_checksums.py
  opendbc/dbc/generator/generator.py
  pyproject.toml
Labels: enhancement, tests

#1089 fp
  .github/labeler.yaml
Labels: CI / testing

#1179 speedup CI test setup
  .github/workflows/tests.yml
Labels: CI / testing, car

#1178 add test_car_interfaces.py
  opendbc/car/interfaces.py
  opendbc/car/tests/test_car_interfaces.py
Labels: CI / testing, car

#1183 openpilot isn't required for a car port PR
  opendbc/car/gm/interface.py
  opendbc/car/hyundai/interface.py
  opendbc/car/tests/routes.py
  opendbc/car/tests/test_routes.py
Labels: car, gm, hyundai

#1185 GM: implement allow throttle/brakes
  opendbc/car/gm/carcontroller.py
  opendbc/car/structs.py
Labels: enhancement, car, gm

#1187 Revert "GM: implement allow throttle/brakes"
  opendbc/car/gm/carcontroller.py
  opendbc/car/structs.py
Labels: car, gm

#1076 Toyota: add misc adas/toggle signal definitions
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals

#1190 Toyota: add a VSC message
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals, toyota

#1200 simple joystick example
  examples/joystick.py
  examples/kbhit.py
  opendbc/car/panda_runner.py
  pyproject.toml
Labels: car

#1197 longitudinal profile runner
  .gitignore
  examples/longitudinal-profiles.py
  opendbc/car/panda_runner.py
  pyproject.toml
Labels: car

#1177 GM: Car Port for XT4 2023
  opendbc/car/docs_definitions.py
  opendbc/car/gm/carstate.py
  opendbc/car/gm/fingerprints.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, gm, fingerprint

#1213 ci: Bot comment only for first timers
  .github/workflows/auto_pr_review.yaml
Labels: CI / testing

#1215 Toyota: more ACC-related definitions
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals
