Repository commaai/opendbc, pull requests merged in 2024-09, with the labels that each got.

#1210 GM: Car Port for 2019 Chevy Volt
  opendbc/car/gm/fingerprints.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, gm, fingerprint

#1217 interfaces returns RadarInterface
  opendbc/car/car_helpers.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/tests/test_lateral_limits.py
Labels: car

#1219 Reapply "GM: Car Port for 2019 Chevy Volt" (#1218)
  opendbc/car/gm/fingerprints.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, gm, fingerprint

#1208 VW PQ: Volkswagen Jetta 6th Gen
  opendbc/car/fingerprints.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/substitute.toml
  opendbc/car/volkswagen/fingerprints.py
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen, fingerprint

#580 Hongqi: Add DBC for Hongqi HS5
  opendbc/dbc/hongqi_hs5.dbc
Labels: DBC signals

#1220 Radar interface getter
  opendbc/car/car_helpers.py
Labels: car

#1224 Move radar delay to carParams
  opendbc/car/honda/interface.py
  opendbc/car/honda/radar_interface.py
  opendbc/car/interfaces.py
  opendbc/car/structs.py
Labels: car, honda

#1227 Toyota: AEB actuation setup
  opendbc/car/toyota/toyotacan.py
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals, car, toyota

#1232 Test all torque cars' lateral limits
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/values.py
  opendbc/car/subaru/values.py
  opendbc/car/tests/test_lateral_limits.py
Labels: CI / testing, car, honda, subaru

#1237 VW MQB: EV_Gearshift -> Motor_EV_01
  opendbc/can/common.cc
  opendbc/car/volkswagen/carstate.py
  opendbc/car/volkswagen/interface.py
  opendbc/car/volkswagen/values.py
  opendbc/dbc/vw_mqb_2010.dbc
Labels: DBC signals, can, car, volkswagen

#1238 VW MQB: Various message and signal updates
  opendbc/dbc/vw_mqb_2010.dbc
Labels: DBC signals

#1235 VW MQB: Added unittests for CRC calculation
  opendbc/can/tests/test_checksums.py
Labels: DBC signals, can, car, volkswagen

#1239 fix spacing for test_checksums
  opendbc/can/tests/test_checksums.py
Labels: can

#1236 VW MQB: Refactored CRC calculation
  opendbc/can/common.cc
Labels: can

#1016 VW MQB: Add CRC for Airbag_01, ESP_02, ESP10, ESP33, Licht_Anf_01
  opendbc/can/common.cc
  opendbc/can/tests/test_checksums.py
  opendbc/dbc/vw_mqb_2010.dbc
Labels: DBC signals, can

#1242 VW MQB: Add missing ESP_33 messages and tests
  opendbc/can/tests/test_checksums.py
  opendbc/dbc/vw_mqb_2010.dbc
Labels: DBC signals, can

#1243 VW MQB: Keep CAN IDs in order
  opendbc/can/tests/test_checksums.py
Labels: can

#1244 Toyota: add ENG2F41
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals, toyota

#1245 Toyota: add another acceleration request signal
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals, toyota

#1246 Toyota: add drive force signal for hybrids
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals, toyota

#1247 Toyota: add brake force signal for hybrids
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Labels: DBC signals, toyota

#1248 Lexus ES TSS2: improve start from stop for ICE variants
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
Labels: enhancement, car, toyota

#1249 test_checksums refactor
  opendbc/can/tests/test_checksums.py
Labels: can

#1250 FCA Giorgio: CAN database
  opendbc/can/common.cc
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/common_dbc.h
  opendbc/can/dbc.cc
  opendbc/can/tests/test_checksums.py
  opendbc/dbc/fca_giorgio.dbc
Labels: DBC signals, can

#1252 FCA Giorgio: Reserve safety ID
  opendbc/car/structs.py
Labels: car

#1260 Toyota: pitch compensate new long tune
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
Labels: enhancement, car, toyota

#1255 Toyota: lower long integral for new tune
  opendbc/car/toyota/interface.py
Labels: car, toyota

#1262 Toyota PCM compensation: don't compensate in standstill
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1261 Lexus ES TSS2: reduce braking overshoot
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
Labels: enhancement, car, toyota

#1264 Toyota: don't apply PCM compensation in the stopping state
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1267 body: remove orientation/angular velocity checks
  opendbc/car/body/carcontroller.py
Labels: car, body

#1266 Lexus: prevent lagged gas after heavy braking
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1270 Revert "Lexus: prevent lagged gas after heavy braking"
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1272 VW MQB: Temporarily remove 2024 Volkswagen Jetta
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen

#1279 Toyota: prevent lagged gas after heavy braking
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1281 Hyundai: DBC updates for FCEV support
  opendbc/dbc/hyundai_kia_generic.dbc
Labels: DBC signals

#1280 Hyundai CAN-FD: Use `ACCELERATOR` for EV gear shifter positions
  opendbc/car/hyundai/carstate.py
Labels: car, hyundai

#1131 HKG: Car Port for Genesis GV70 Electrified 2023 (HDA2)
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, hyundai, fingerprint

#1290 HKG: Cleanup EV and HYBRID flag setting
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#1292 HKG: Interface refactor
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#1284 Hyundai CAN-FD: Universal gear checks
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#1271 Lexus ES TSS2: compensate for creeping force
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#1285 Hyundai CAN-FD: Add CAN fingerprint fallback checks for HDA2 detection
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
Labels: car, hyundai

#1132 HKG: Car Port for Genesis G80 2024 (2.5T, HDA2)
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, hyundai, fingerprint

#1300 HKG: Refactor alternate lateral limits
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1294 Hyundai: Refactor interface with int flags
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1293 HKG: Add FW version and update model year for Genesis GV60 2022
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai, fingerprint

#1301 Lexus ES TSS2: improve start from stop response time
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/toyotacan.py
Labels: enhancement, car, toyota

#1303 Re-apply "Lexus ES TSS2: improve start from stop response time"
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/toyotacan.py
Labels: enhancement, car, toyota

#1304 VW PQ: Fix CarDocs year range for Jetta
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen
