Repository commaai/opendbc, pull requests merged in 2025-05, with the labels that each got.

#2175 Tesla: move steering disengage to generic param
  opendbc/car/car.capnp
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
Labels: car, tesla, refactor

#2176 Tesla: fix steer fault when quickly overriding
  opendbc/car/tesla/carstate.py
Labels: bugfix, car, tesla

#2177 Tesla safety: enforce ACC disengage via steering press
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/libsafety/safety_helpers.h
  opendbc/safety/tests/libsafety/safety_helpers.py
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2181 Add Tesla Model Y routes
  opendbc/car/tests/routes.py
Labels: car

#1801 Tesla: forward Summon
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/libsafety/safety_helpers.h
  opendbc/safety/tests/test_tesla.py
Labels: enhancement, car safety

#1805 Tesla safety: block cancel message during stock AEB
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: enhancement, tesla, car safety

#2171 Acura: Fix ILX documentation
  opendbc/car/honda/values.py
Labels: car, honda

#2189 docs: Ford Q4 setup video
  opendbc/car/ford/values.py
Labels: car, ford

#2082 Toyota: Add Lexus RC 2023
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/substitute.toml
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/values.py
Labels: car, toyota

#2135 Honda: 24 Civic MT Fingerprint
  opendbc/car/honda/fingerprints.py
Labels: car, honda, fingerprint

#2124 HKG: more ccNC messages
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Labels: DBC signals

#1958 packer_pyx: add nogil for improved threading performance
  opendbc/can/common.pxd
  opendbc/can/packer_pyx.pyx
Labels: can

#1922 add Ford Escape 2023-24 and Kuga 2024
  opendbc/car/ford/fingerprints.py
  opendbc/car/ford/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, ford

#2186 Ford Q4 setup video, long_odbc_cable for Q4
  opendbc/car/ford/values.py
Labels: car, ford

#2194 Tesla: check steer control type
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2190 Tesla: forward stock LKAS while disengaged
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: enhancement, car safety

#2197 Log stock LKAS actuation
  opendbc/car/car.capnp
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#2199 Revert "Ford Q4 setup video, long_odbc_cable for Q4"
  opendbc/car/ford/values.py
Labels: car, ford

#2202 Tesla safety: check 2nd speed source
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car, tesla, car safety

#2205 Tesla: fix cruise enabled test_models Autopark mismatch
  opendbc/car/tesla/carstate.py
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car, tesla, car safety

#2206 CANParser: add signal setup hook
  opendbc/can/common.cc
  opendbc/can/common.h
  opendbc/can/common_dbc.h
  opendbc/can/dbc.cc
Labels: can

#2212 CANParser: check Tesla counters
  opendbc/can/common.cc
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/common_dbc.h
  opendbc/can/dbc.cc
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals, can

#2213 CANPacker: support signal types
  opendbc/can/dbc.cc
  opendbc/can/packer.cc
Labels: can

#2214 Tesla: let CANPacker set counters
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#2204 Tesla safety: check rx counters
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2222 dbc: fix incorrect endwith check
  opendbc/can/common.h
Labels: can

#2223 CANParser: support Tesla checksums
  opendbc/can/common.cc
  opendbc/can/common.h
  opendbc/can/dbc.cc
  opendbc/dbc/tesla_model3_party.dbc
Labels: enhancement, DBC signals, can, tesla

#2224 Tesla: let CANPacker set checksums
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#2220 Reapply "Tesla: let CANPacker set counters (#2214)"
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#2226 Tesla: add missing checksum signal
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#2225 Tesla safety: check checksums
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2227 Tesla safety: check quality flag ESP_B (2nd speed)
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2180 fix(macos): macOS 15 and greater
  .github/workflows/tests.yml
  opendbc/safety/tests/libsafety/SConscript
Labels: CI / testing, car safety

#2232 safety: remove disengage on gas
  opendbc/safety/__init__.py
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/common.py
Labels: car safety

#2236 enable pre-commit
  .pre-commit-config.yaml
  opendbc/can/packer_pyx.pyx
  opendbc/can/parser_pyx.pyx
  opendbc/car/honda/interface.py
  test.sh
Labels: can, car, honda

#2209 Ranger install video
  opendbc/car/ford/values.py
Labels: car, ford

#2210 HKG: Add 2025 Kia Niro EV
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#2208 F150 lightning expedition install video
  opendbc/car/ford/values.py
Labels: car, ford

#2142 Bolt 70kW Regen Signal
  opendbc/dbc/generator/gm/gm_global_a_powertrain.dbc
Labels: DBC signals

#2079 Honda: DBC merge
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/_honda_common.dbc
  opendbc/dbc/generator/honda/_nidec_common.dbc
  opendbc/dbc/generator/honda/acura_rdx_2020_can.dbc
  opendbc/dbc/generator/honda/honda_accord_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_crv_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
  opendbc/dbc/generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
  opendbc/dbc/generator/honda/honda_pilot_2023_can.dbc
Labels: DBC signals

#2080 Honda: Cleanup Nidec steering dbc
  opendbc/dbc/generator/honda/_steering_control_a.dbc
  opendbc/dbc/generator/honda/_steering_control_b.dbc
  opendbc/dbc/generator/honda/acura_ilx_2016_can.dbc
  opendbc/dbc/generator/honda/acura_rdx_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_crv_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
Labels: DBC signals

#2104 Honda Bosch: Steer to zero
  opendbc/car/honda/carstate.py
  opendbc/car/honda/hondacan.py
  opendbc/dbc/generator/honda/_bosch_2018.dbc
Labels: DBC signals, car, honda

#2240 Revert "Honda Bosch: Steer to zero"
  opendbc/car/honda/carstate.py
  opendbc/car/honda/hondacan.py
  opendbc/dbc/generator/honda/_bosch_2018.dbc
Labels: DBC signals, car, honda

#2241 CI: cache pre-commit
  .github/workflows/tests.yml
Labels: CI / testing

#2238 enable cpplint
  .pre-commit-config.yaml
  SConstruct
  opendbc/can/common.cc
  opendbc/can/dbc.cc
  opendbc/can/packer.cc
  opendbc/can/parser.cc
  opendbc/safety/board/can.h
  opendbc/safety/board/drivers/can_common.h
  opendbc/safety/board/fake_stm.h
  opendbc/safety/board/faults.h
  opendbc/safety/board/utils.h
  opendbc/safety/main.c
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_defaults.h
  opendbc/safety/safety/safety_elm327.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_common.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/libsafety/safety.c
  opendbc/safety/tests/libsafety/safety_helpers.h
  opendbc/safety/tests/misra/test_misra.sh
Labels: can, car safety

#2244 safety: add round helper
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2115 Tesla: raised lateral limits
  opendbc/car/ford/carcontroller.py
  opendbc/car/tesla/carcontroller.py
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_tesla.py
Labels: car, ford, tesla, car safety

#2245 Revert "enable cpplint"
  .pre-commit-config.yaml
  SConstruct
  opendbc/can/common.cc
  opendbc/can/dbc.cc
  opendbc/can/packer.cc
  opendbc/can/parser.cc
  opendbc/safety/board/can.h
  opendbc/safety/board/drivers/can_common.h
  opendbc/safety/board/fake_stm.h
  opendbc/safety/board/faults.h
  opendbc/safety/board/utils.h
  opendbc/safety/main.c
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_defaults.h
  opendbc/safety/safety/safety_elm327.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_common.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/libsafety/safety.c
  opendbc/safety/tests/libsafety/safety_helpers.h
  opendbc/safety/tests/misra/test_misra.sh
Labels: can, car safety

#2045 docs: custom kwargs in markdown generator
  opendbc/car/docs.py
Labels: car

#2251 CANPacker: speedup recent slowdown
  opendbc/can/common.h
  opendbc/can/packer.cc
Labels: can

#2252 Fix torque array assert
  opendbc/car/honda/values.py
Labels: car, honda, codex

#2253 Fix typos in isotp_parallel_query helper
  opendbc/car/isotp_parallel_query.py
Labels: car, codex

#2254 Fix phrasing in README
  README.md
Labels: codex

#2249 Skip for loop calls when enableDsu is false
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#2259 Reapply "enable cpplint" (#2245)
  .pre-commit-config.yaml
  opendbc/can/common.cc
  opendbc/can/dbc.cc
  opendbc/can/packer.cc
  opendbc/can/parser.cc
  opendbc/safety/board/can.h
  opendbc/safety/board/drivers/can_common.h
  opendbc/safety/board/fake_stm.h
  opendbc/safety/board/faults.h
  opendbc/safety/board/utils.h
  opendbc/safety/main.c
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_defaults.h
  opendbc/safety/safety/safety_elm327.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_common.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/libsafety/safety.c
  opendbc/safety/tests/libsafety/safety_helpers.h
  opendbc/safety/tests/misra/test_misra.sh
Labels: can, car safety

#2260 bump cppcheck to 2.17.1
  opendbc/safety/tests/misra/checkers.txt
  opendbc/safety/tests/misra/install.sh
Labels: car safety

#2258 Add safety headers to package
  .gitignore
  MANIFEST.in
  opendbc/__init__.py
  opendbc/safety/board/can.h
  pyproject.toml
Labels: car safety

#2261 rename safety/safety/safety_* to safety/modes/*
  opendbc/safety/modes/body.h
  opendbc/safety/modes/chrysler.h
  opendbc/safety/modes/defaults.h
  opendbc/safety/modes/elm327.h
  opendbc/safety/modes/ford.h
  opendbc/safety/modes/gm.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai.h
  opendbc/safety/modes/hyundai_canfd.h
  opendbc/safety/modes/hyundai_common.h
  opendbc/safety/modes/mazda.h
  opendbc/safety/modes/nissan.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/modes/toyota.h
  opendbc/safety/modes/volkswagen_common.h
  opendbc/safety/modes/volkswagen_mqb.h
  opendbc/safety/modes/volkswagen_pq.h
  opendbc/safety/safety.h
  opendbc/safety/tests/misra/test_mutation.py
  pyproject.toml
Labels: car safety

#2256 Lower Tesla steer limit timer
  opendbc/car/tesla/interface.py
Labels: car, tesla

#2264 Fix cppcheck cache
  .github/workflows/tests.yml
Labels: CI / testing

#2263 interfaces: remove redundant function
  opendbc/car/interfaces.py
Labels: car

#2262 Hyundai: fix recent enable button press regression
  opendbc/car/car.capnp
  opendbc/car/hyundai/carstate.py
Labels: bugfix, car, hyundai

#2265 Hyundai: move low speed steering alert to car state
  opendbc/car/hyundai/carstate.py
Labels: cleanup, car, hyundai

#2266 Hyundai CAN FD: fix recent enable button press regression
  opendbc/car/hyundai/carstate.py
Labels: car, hyundai

#2274 safety: improve MISRA test coverage
  .gitignore
  opendbc/safety/board/can_declarations.h
  opendbc/safety/board/fake_stm.h
  opendbc/safety/modes/hyundai_common.h
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/misra/checkers.txt
  opendbc/safety/tests/misra/test_misra.sh
Labels: car safety

#2275 run safety tests in test.sh
  .github/workflows/tests.yml
  test.sh
Labels: CI / testing

#2276 move MISRA check into test.sh
  .github/workflows/tests.yml
  opendbc/safety/tests/misra/checkers.txt
  opendbc/safety/tests/misra/test_misra.sh
  setup.sh
  test.sh
Labels: CI / testing, car safety

#2278 pre-commit -> lefthook
  .github/workflows/repo.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  README.md
  lefthook.yml
  opendbc/safety/tests/misra/test_misra.sh
  pyproject.toml
  test.sh
Labels: CI / testing, car safety

#2277 Rivian: cleaner doorOpen logic
  opendbc/car/rivian/carstate.py
Labels: car, rivian

#2233 Tesla: tune steering pressed threshold
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/values.py
Labels: enhancement, car, tesla

#2281 Tesla: lower comfort angle rate limit
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#2282 Toyota: log temp dash faults
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#2283 interfaces: improve steering pressed signal
  opendbc/car/interfaces.py
Labels: car

#2288 VW: low steer speed alert in CarState
  opendbc/car/volkswagen/carstate.py
Labels: car, volkswagen

#2289 GM: low steer speed alert in CarState
  opendbc/car/gm/carstate.py
Labels: car, gm

#2292 Tesla: check driver brake status
  opendbc/safety/modes/tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2296 safety: common speed mismatch test
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_ford.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2300 safety: consolidate some lateral constants
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2303 safety: default quality flag check to true
  opendbc/safety/modes/body.h
  opendbc/safety/modes/chrysler.h
  opendbc/safety/modes/ford.h
  opendbc/safety/modes/gm.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai.h
  opendbc/safety/modes/hyundai_canfd.h
  opendbc/safety/modes/mazda.h
  opendbc/safety/modes/nissan.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/modes/toyota.h
  opendbc/safety/modes/volkswagen_mqb.h
  opendbc/safety/modes/volkswagen_pq.h
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2304 move MISRA mutation tests into test.sh
  .github/workflows/tests.yml
  conftest.py
  opendbc/safety/tests/misra/install.sh
  opendbc/safety/tests/misra/test_misra.sh
  opendbc/safety/tests/misra/test_mutation.py
Labels: CI / testing, car safety

#2305 CI: move ubsan into test.sh matrix
  .github/workflows/tests.yml
  test.sh
Labels: CI / testing

#2311 fingerprint: 2022 Tesla Model Y, 2023.40
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#2315 ci: no timeout for forks
  .github/workflows/tests.yml
Labels: CI / testing

#2318 car interfaces: pass in if release build
  opendbc/car/body/interface.py
  opendbc/car/car_helpers.py
  opendbc/car/chrysler/interface.py
  opendbc/car/docs.py
  opendbc/car/ford/interface.py
  opendbc/car/gm/interface.py
  opendbc/car/honda/interface.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/interface.py
  opendbc/car/mock/interface.py
  opendbc/car/nissan/interface.py
  opendbc/car/panda_runner.py
  opendbc/car/rivian/interface.py
  opendbc/car/subaru/interface.py
  opendbc/car/tesla/interface.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/toyota/interface.py
  opendbc/car/volkswagen/interface.py
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2327 safety: always build with coverage information
  SConstruct
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/test.sh
Labels: car safety

#2329 safety: remove extra speed in Tesla angle limit calculations
  opendbc/car/tesla/carcontroller.py
  opendbc/safety/safety.h
  opendbc/safety/tests/test_tesla.py
Labels: car, tesla, car safety

#2334 safety: add frequency parameter to angle limit struct
  opendbc/safety/modes/tesla.h
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2338 Tesla: fingerprint Model Y Performance 2023 (HW4)
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#2340 safety: move lateral constants
  opendbc/safety/lateral.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2078 Adding Mazda Transmission fingerprint
  opendbc/car/mazda/fingerprints.py
Labels: car, mazda, fingerprint

#1824 Ford: add F-150 Lightning 2022 FW
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint, stale

#2140 Honda: Clean up carstate
  opendbc/car/honda/carstate.py
Labels: car, honda

#2273 add PLA_1 signals to Volkswagen PQ DBC
  opendbc/dbc/vw_pq.dbc
Labels: DBC signals

#2121 Honda: abstract out RADAR_HUD msg definition
  opendbc/dbc/generator/honda/_nidec_common.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
Labels: DBC signals

#2272 add PLA_01 signals to Volkswagen MQB DBC
  opendbc/dbc/vw_mqb.dbc
Labels: DBC signals
