Repository commaai/opendbc, pull requests merged in 2025-01, with the labels that each got.

#1609 [bot] Car docs: update model years from new users
  opendbc/car/honda/values.py
  opendbc/car/hyundai/fingerprints.py
Labels: car, honda, hyundai, bot, docs

#1617 Toyota: Separate DBC generator include for certain ADAS messages
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/generator/toyota/_toyota_adas_standard.dbc
  opendbc/dbc/generator/toyota/toyota_new_mc_pt.dbc
  opendbc/dbc/generator/toyota/toyota_nodsu_pt.dbc
  opendbc/dbc/generator/toyota/toyota_tnga_k_pt.dbc
Labels: DBC signals

#1618 Toyota: Use properly generated DBC for SecOC cars
  opendbc/car/toyota/values.py
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/generator/toyota/_toyota_adas_standard.dbc
  opendbc/dbc/generator/toyota/toyota_rav4_prime.dbc
  opendbc/dbc/generator/toyota/toyota_secoc_pt.dbc
Labels: DBC signals, car, toyota

#1619 Toyota: Standard SecOC platform config
  opendbc/car/toyota/values.py
Labels: car, toyota

#1595 Remove STEER_MAX limit for Genesis G90
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1628 Ford: invalid radar data tolerance
  opendbc/car/ford/radar_interface.py
Labels: car, ford

#1598 `cp panda/python/uds.py opendbc/car/uds.py`
  opendbc/car/__init__.py
  opendbc/car/chrysler/values.py
  opendbc/car/ecu_addrs.py
  opendbc/car/ford/values.py
  opendbc/car/fw_query_definitions.py
  opendbc/car/fw_versions.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/values.py
  opendbc/car/isotp_parallel_query.py
  opendbc/car/nissan/values.py
  opendbc/car/subaru/values.py
  opendbc/car/toyota/interface.py
  opendbc/car/uds.py
  opendbc/car/vin.py
  opendbc/car/volkswagen/values.py
Labels: car, chrysler, ford, honda, hyundai, nissan, subaru, toyota, volkswagen

#1633 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, honda, hyundai, toyota, volkswagen, fingerprint, bot, docs

#1634 [bot] Car docs: update model years from new users
  opendbc/car/hyundai/values.py
Labels: car, ford, hyundai, bot, docs

#1635 Toyota: remove longitudinal derivative
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1638 Honda: Temporarily revoke support for 2022 Acura MDX
  docs/CARS.md
  opendbc/car/honda/values.py
Labels: car, honda

#1627 Toyota: Add secoc distance message from PCM
  opendbc/dbc/generator/toyota/toyota_secoc_pt.dbc
Labels: DBC signals

#1636 Tesla: add model years and TeslaCarDocs
  opendbc/car/tesla/values.py
Labels: car, tesla

#1626 Got rid of openpilot.common.numpy_fast as per https://github.com/commaai/openpilot/issues/34331
  opendbc/car/__init__.py
  opendbc/car/common/numpy_fast.py
  opendbc/car/common/pid.py
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/interface.py
  opendbc/car/gm/carcontroller.py
  opendbc/car/gm/carstate.py
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/carstate.py
  opendbc/car/honda/interface.py
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/car/interfaces.py
  opendbc/car/nissan/carcontroller.py
  opendbc/car/subaru/carcontroller.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/carstate.py
  opendbc/car/volkswagen/carcontroller.py
Labels: car, ford, gm, honda, hyundai, nissan, subaru, tesla, toyota, volkswagen

#1578 Toyota: JDM Yaris with SecOC
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/params.toml
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
Labels: car, toyota

#1639 docs: Add support for 2025 Toyota RAV4 Hybrid
  opendbc/car/toyota/values.py
Labels: car, toyota

#1640 Toyota: log gas and brake
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#1641 Toyota: Yaris SecOC is hybrid
  opendbc/car/toyota/values.py
Labels: car, toyota

#1648 Tesla: Jerk Limit
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/values.py
Labels: car, tesla

#1649 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
Labels: car, hyundai, toyota, fingerprint, bot, docs

#1652 Toyota: unwind longitudinal integral
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#1653 Revert Yaris SecOC for now
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/params.toml
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
Labels: car, toyota

#1655 Tesla: longitudinal behind alpha toggle
  opendbc/car/tesla/interface.py
Labels: car, tesla

#1657 Ford: clip gas
  opendbc/car/ford/carcontroller.py
Labels: car, ford

#1661 Honda: missing float
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/carstate.py
  opendbc/car/toyota/carcontroller.py
Labels: car, honda, toyota

#1664 Toyota: fix acceleration discontinuity when stopping
  opendbc/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#1665 Toyota: tweak longitudinal gains
  opendbc/car/toyota/carcontroller.py
Labels: enhancement, car, toyota

#1666 carName -> brand
  opendbc/car/body/interface.py
  opendbc/car/car.capnp
  opendbc/car/car_helpers.py
  opendbc/car/chrysler/interface.py
  opendbc/car/docs_definitions.py
  opendbc/car/ford/interface.py
  opendbc/car/gm/interface.py
  opendbc/car/honda/interface.py
  opendbc/car/hyundai/interface.py
  opendbc/car/mazda/interface.py
  opendbc/car/mock/interface.py
  opendbc/car/nissan/interface.py
  opendbc/car/subaru/interface.py
  opendbc/car/tesla/interface.py
  opendbc/car/tests/test_docs.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/tests/test_lateral_limits.py
  opendbc/car/toyota/interface.py
  opendbc/car/volkswagen/interface.py
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen

#1669 Toyota: clip pitch for PERMIT_BRAKING
  opendbc/car/toyota/carcontroller.py
Labels: bugfix, car, toyota

#1673 [bot] Car docs: update model years from new users
  opendbc/car/toyota/values.py
Labels: car, honda, toyota, bot, docs

#1677 Bugfix: _toyota_2017.dbc
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
Labels: DBC signals

#1687 Ford: fix required package docs
  opendbc/car/ford/values.py
Labels: car, ford
