Repository commaai/opendbc, pull requests merged in 2025-09, with the labels that each got.

#2712 VW PQ: Update Lenkwinkel_1 signals
  opendbc/car/volkswagen/carstate.py
  opendbc/dbc/vw_pq.dbc
Labels: DBC signals, car, volkswagen

#2711 VW PQ: Update Motor_2 signals
  opendbc/car/volkswagen/carstate.py
  opendbc/dbc/vw_pq.dbc
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: DBC signals, car, volkswagen, car safety

#2730 Tesla: Replace 6 byte Model Y test route
  opendbc/car/tests/routes.py
Labels: car

#2732 ci: longer timeout for forks
  .github/workflows/tests.yml
Labels: CI / testing

#2485 Honda: Steer control status refactor, part 1
  opendbc/can/tests/test_define.py
  opendbc/dbc/generator/honda/_steering_control_a.dbc
  opendbc/dbc/generator/honda/acura_ilx_2016_can.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
Labels: DBC signals, can

#2735 Honda: Steer control status refactor, part 2
  opendbc/dbc/generator/honda/_steering_control_b.dbc
  opendbc/dbc/generator/honda/acura_rdx_2018_can.dbc
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_crv_touring_2016_can.dbc
Labels: DBC signals

#2736 Honda: DBC cleanup for HIGHBEAM_CONTROL / CAMERA_MESSAGES
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/_honda_common.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
Labels: DBC signals

#2741 Honda: Add FW for 2018 Acura ILX
  opendbc/car/honda/fingerprints.py
Labels: car, honda, fingerprint

#2743 Honda: ADAS messaging refactor, part 1
  opendbc/dbc/generator/honda/_bosch_radar_acc.dbc
  opendbc/dbc/generator/honda/_lkas_hud_5byte.dbc
  opendbc/dbc/generator/honda/_lkas_hud_8byte.dbc
  opendbc/dbc/generator/honda/_nidec_common.dbc
  opendbc/dbc/generator/honda/acura_ilx_2016_can.dbc
  opendbc/dbc/generator/honda/acura_rdx_2018_can.dbc
  opendbc/dbc/generator/honda/acura_rdx_2020_can.dbc
  opendbc/dbc/generator/honda/honda_accord_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_common_canfd.dbc
  opendbc/dbc/generator/honda/honda_crv_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_crv_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_insight_ex_2019_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
Labels: DBC signals

#2744 Honda: DBC consolidation
  opendbc/can/tests/test_checksums.py
  opendbc/car/honda/values.py
  opendbc/dbc/generator/honda/honda_accord_2018_can.dbc
  opendbc/dbc/generator/honda/honda_bosch_radarless.dbc
  opendbc/dbc/generator/honda/honda_crv_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/safety/tests/test_honda.py
Labels: DBC signals, can, car, honda, car safety

#2748 Honda: ADAS messaging refactor, part 2
  opendbc/can/tests/test_checksums.py
  opendbc/car/honda/hondacan.py
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/_lkas_hud_5byte.dbc
  opendbc/dbc/generator/honda/_lkas_hud_8byte.dbc
Labels: DBC signals, can, car, honda

#2749 Honda: DBC updates for hybrid powertrain longitudinal control
  opendbc/dbc/generator/honda/_honda_common.dbc
  opendbc/dbc/generator/honda/_nidec_common.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
Labels: DBC signals

#2679 Honda: Fix brake error detection on hybrids
  opendbc/car/honda/carstate.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
Labels: car, honda

#2750 Subaru: Add FW for 2022 Subaru Legacy
  opendbc/car/subaru/fingerprints.py
Labels: car, subaru, fingerprint

#2755 Tesla: Extend supported model-years for HW4 Model Y
  docs/CARS.md
  opendbc/car/tesla/values.py
Labels: car, tesla

#2756 Honda: Refactor HUD alerts
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/values.py
Labels: car, honda

#2754 Honda: Refactor create_ui_commands
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/hondacan.py
Labels: car, honda

#2757 Honda: Static minimum steer speed handling
  opendbc/car/honda/carstate.py
Labels: car, honda

#2769 Honda: DBC updates for Bosch STEERING_CONTROL
  opendbc/dbc/generator/honda/_bosch_2018.dbc
Labels: DBC signals

#2686 Tesla: Reformat ESP_status in DBC
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#2787 HKG: Add FW for 2024 Genesis GV70
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2797 Honda: Merge Kinematics
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/_honda_common.dbc
  opendbc/dbc/generator/honda/_nidec_common.dbc
Labels: DBC signals

#2793 Capnp memoryview
  opendbc/car/chrysler/interface.py
  opendbc/car/fw_versions.py
  opendbc/car/toyota/interface.py
  pyproject.toml
Labels: car, chrysler, toyota

#2809 utils == helpers
  opendbc/safety/board/fake_stm.h
  opendbc/safety/board/utils.h
  opendbc/safety/helpers.h
Labels: car safety

#2810 build system cleanups
  SConscript
  SConstruct
  opendbc/dbc/SConscript
  opendbc/safety/tests/libsafety/SConscript
Labels: DBC signals, car safety

#2811 always build libsafety for mutation tests
  SConstruct
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/libsafety/libsafety_py.py
  opendbc/safety/tests/mutation.sh
Labels: car safety

#2814 safety: remove board/ folder
  opendbc/safety/can.h
  opendbc/safety/safety.h
  opendbc/safety/tests/libsafety/SConscript
  opendbc/safety/tests/libsafety/fake_stm.h
  opendbc/safety/tests/libsafety/safety.c
Labels: car safety

#2816 High-pass filter
  opendbc/car/common/filter_simple.py
  opendbc/car/toyota/carcontroller.py
Labels: car, toyota

#2818 Honda: Support for Traffic Jam Assist steering control bit
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/hondacan.py
  opendbc/car/honda/values.py
Labels: car, honda

#2819 fix build breakage
  opendbc/safety/tests/test_toyota.py
Labels: car safety
