Repository commaai/opendbc, pull requests merged in 2025-02, with the labels that each got.

#1691 ISO-TP: set up logging
  opendbc/car/__init__.py
  opendbc/car/car_helpers.py
  opendbc/car/carlog.py
  opendbc/car/disable_ecu.py
  opendbc/car/ecu_addrs.py
  opendbc/car/fw_versions.py
  opendbc/car/isotp_parallel_query.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/uds.py
  opendbc/car/vin.py
Labels: car

#1692 IsoTpMessage: calculate max length
  opendbc/car/isotp_parallel_query.py
  opendbc/car/uds.py
Labels: car

#1681 IsoTpMessage: support CAN FD single frames
  opendbc/car/uds.py
Labels: enhancement, car

#1660 Add European (2020) HYUNDAI_KONA_HEV fp
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#1698 Add buttonEnable carState field
  opendbc/car/car.capnp
  opendbc/car/gm/carstate.py
  opendbc/car/interfaces.py
  opendbc/car/volkswagen/carstate.py
Labels: car, gm, volkswagen

#1702 VW: Don't treat the initializing state as a fault
  opendbc/car/volkswagen/carstate.py
Labels: car, volkswagen

#1705 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/toyota/fingerprints.py
Labels: car, hyundai, toyota, fingerprint, bot, docs

#1707 PyPI publishing
  .github/workflows/release.yml
  pyproject.toml
Labels: CI / testing

#1589 Move car-specific panda flags into opendbc
  opendbc/car/chrysler/interface.py
  opendbc/car/chrysler/values.py
  opendbc/car/ford/interface.py
  opendbc/car/ford/values.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/hyundai/values.py
  opendbc/car/nissan/interface.py
  opendbc/car/nissan/values.py
  opendbc/car/subaru/interface.py
  opendbc/car/subaru/values.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/values.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
  opendbc/car/volkswagen/interface.py
  opendbc/car/volkswagen/values.py
Labels: car, chrysler, ford, gm, honda, hyundai, nissan, subaru, tesla, toyota, volkswagen

#1711 Rename to SafetyFlags
  opendbc/car/chrysler/interface.py
  opendbc/car/chrysler/values.py
  opendbc/car/ford/interface.py
  opendbc/car/ford/values.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/hyundai/values.py
  opendbc/car/nissan/interface.py
  opendbc/car/nissan/values.py
  opendbc/car/subaru/interface.py
  opendbc/car/subaru/values.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/values.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
  opendbc/car/volkswagen/interface.py
  opendbc/car/volkswagen/values.py
Labels: car, chrysler, ford, gm, honda, hyundai, nissan, subaru, tesla, toyota, volkswagen

#1715 Missing Safety references
  opendbc/car/panda_runner.py
Labels: car

#1045 update Volvo V60 signals
  opendbc/dbc/volvo_v60_2015_pt.dbc
Labels: DBC signals, stale

#1725 Revert "Toyota: log gas and brake"
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#1726 Custom rx sub_addr
  opendbc/car/uds.py
Labels: car

#1613 Rivian R1S / R1T Generation 1
  .github/labeler.yaml
  opendbc/car/car.capnp
  opendbc/car/rivian/__init__.py
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/carstate.py
  opendbc/car/rivian/fingerprints.py
  opendbc/car/rivian/interface.py
  opendbc/car/rivian/radar_interface.py
  opendbc/car/rivian/riviancan.py
  opendbc/car/rivian/values.py
  opendbc/car/tests/routes.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/torque_data/params.toml
  opendbc/car/values.py
  opendbc/dbc/rivian_can.dbc
Labels: CI / testing, DBC signals, car

#1728 Rivian: little fixups
  opendbc/car/docs_definitions.py
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/interface.py
  opendbc/car/rivian/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, rivian

#1730 Tesla: quicker steering pressed logic
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/values.py
Labels: enhancement, car, tesla

#1731 Add Tesla Model 3/Y ignition signal
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#1735 Tesla: lower steering actuator delay
  opendbc/car/tesla/interface.py
Labels: enhancement, car, tesla

#1732 Tesla: minor port cleanup
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/radar_interface.py
  opendbc/car/tesla/values.py
  opendbc/dbc/tesla_model3_party.dbc
Labels: cleanup, DBC signals, car, tesla

#1734 Tesla: implement cruiseControl.cancel
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#1737 Tesla: Model 3/Y safety prep
  opendbc/car/tesla/teslacan.py
  opendbc/car/tesla/values.py
Labels: car, tesla

#1740 Enable Tesla Model 3/Y behind dashcam
  opendbc/car/tesla/interface.py
Labels: car, tesla

#1743 Move some FW query checks into config
  opendbc/car/fw_query_definitions.py
  opendbc/car/fw_versions.py
  opendbc/car/tests/test_fw_fingerprint.py
Labels: car

#1744 remove rj45 cable, duplicate obd-c for obd-ii conn
  opendbc/car/docs_definitions.py
Labels: car

#1742 FW query: sort brands by percentage of ECU matches
  opendbc/car/fw_versions.py
  opendbc/car/tests/test_fw_fingerprint.py
Labels: enhancement, car

#1739 Rivian: VIN query
  opendbc/car/rivian/values.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/vin.py
Labels: car, rivian

#1748 rm all_known_cars
  opendbc/car/fingerprints.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/tests/test_lateral_limits.py
Labels: car

#1749 Revert "FW query: sort brands by percentage of ECU matches"
  opendbc/car/fw_versions.py
  opendbc/car/tests/test_fw_fingerprint.py
Labels: car

#1750 Reapply "FW query: sort brands by percentage of ECU matches"
  opendbc/car/fw_versions.py
  opendbc/car/tests/test_fw_fingerprint.py
Labels: car

#1752 namespace runner
  .github/workflows/tests.yml
Labels: CI / testing

#1758 Fix namespace for contributors
  .github/workflows/tests.yml
Labels: CI / testing

#1751 2023 F-150 5.0 - FIngerprint
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint

#1763 Lateral limits: test all torque cars
  opendbc/car/rivian/values.py
  opendbc/car/tests/test_lateral_limits.py
Labels: car, rivian

#1774 common update_steering_pressed
  opendbc/car/interfaces.py
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#1776 Remove duplicate safety mode definition
  opendbc/car/panda_runner.py
  opendbc/safety/__init__.py
  opendbc/safety/tests/test_body.py
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_defaults.py
  opendbc/safety/tests/test_elm327.py
  opendbc/safety/tests/test_ford.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_honda.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_mazda.py
  opendbc/safety/tests/test_nissan.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_subaru_preglobal.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: car

#1778 Safety flags: remove redundant namespace
  opendbc/car/chrysler/interface.py
  opendbc/car/chrysler/values.py
  opendbc/car/ford/interface.py
  opendbc/car/ford/values.py
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/hyundai/values.py
  opendbc/car/nissan/interface.py
  opendbc/car/nissan/values.py
  opendbc/car/subaru/interface.py
  opendbc/car/subaru/values.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/values.py
  opendbc/car/toyota/interface.py
  opendbc/car/toyota/values.py
  opendbc/car/volkswagen/interface.py
  opendbc/car/volkswagen/values.py
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_ford.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_honda.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_nissan.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_subaru_preglobal.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: car, chrysler, ford, gm, honda, hyundai, nissan, subaru, tesla, toyota, volkswagen

#1777 Fingerprint: 2022 Tesla Model Y Performance
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#1762 tesla: lower lateral jerk
  opendbc/car/tesla/values.py
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car, tesla, car safety

#1761 Tesla: remove old fault prevention code
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#1671 HKG: ccNC messages
  opendbc/dbc/hyundai_canfd.dbc
Labels: DBC signals

#1274 Hyundai: Parse LFA button from steering wheel
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
  opendbc/dbc/hyundai_canfd.dbc
  opendbc/dbc/hyundai_kia_generic.dbc
Labels: DBC signals, car, hyundai, stale

#1277 Chrysler: Parse LKAS button from steering wheel
  opendbc/car/chrysler/carstate.py
  opendbc/dbc/generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
  opendbc/dbc/generator/chrysler/chrysler_ram_hd.dbc
Labels: DBC signals, car, chrysler

#1783 Remove redundant parameter in `hyundai/values.py`
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1779 subaru: FW versions for Subaru Forester 2024 Sport
  opendbc/car/subaru/fingerprints.py
Labels: car, subaru, fingerprint

#1788 Tesla: remove angle delta limit
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#1782 Hyundai CAN-FD: Refactor HDA2 with available steering types
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/hyundai/values.py
  opendbc/car/tests/routes.py
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: car, hyundai, car safety

#1789 Rivian: less sensitive steering pressed threshold
  opendbc/car/rivian/carstate.py
Labels: car, rivian

#1787 Rivian: update torque params
  opendbc/car/torque_data/override.toml
Labels: enhancement, car

#1793 Tesla: fix high angle fault
  opendbc/car/tesla/carcontroller.py
Labels: car, tesla

#1229 VW MQB: AEB actuation setup
  opendbc/car/volkswagen/carcontroller.py
  opendbc/car/volkswagen/mqbcan.py
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen, stale

#1689 Fingerprint: Nissan Leaf Tekna 2019 [EU]
  opendbc/car/nissan/fingerprints.py
Labels: car, nissan, fingerprint

#1796 HKG: fix hyundai_canfd comments
  opendbc/dbc/hyundai_canfd.dbc
Labels: DBC signals

#1723 Genesis: Add FW versions for GV70 Electrified 2024
  docs/CARS.md
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1644 Honda: CANFD Gearbox
  opendbc/dbc/generator/honda/honda_pilot_2023_can.dbc
Labels: DBC signals

#1659 Honda: Civic Type R support
  opendbc/car/honda/carstate.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/tests/routes.py
Labels: car, honda

#1643 Honda: DBC updates
  opendbc/dbc/generator/honda/_honda_common.dbc
  opendbc/dbc/generator/honda/_nidec_common.dbc
Labels: DBC signals

#1785 safety: pull out cam -> pt fwd blocking
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/misra/test_mutation.py
Labels: refactor, car safety

#1797 HKG: let cabana sort hyundai_canfd
  opendbc/dbc/hyundai_canfd.dbc
Labels: DBC signals

#1804 Ford: enable Q4 platform
  opendbc/car/ford/interface.py
Labels: car, ford

#1807 Ford: CAN longitudinal has been verified
  opendbc/car/ford/interface.py
Labels: car, ford

#1295 Hyundai: Disable longitudinal for HDA2 without ADAS Driving ECU
  opendbc/car/hyundai/interface.py
Labels: car, hyundai, ignore stale

#1802 2022 F150 Lightning - Fingerprint
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint

#1349 Hyundai: Add FW version for Ioniq 5 2023
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint, stale

#1812 Ford: pull F150 Lightning out of dashcam
  opendbc/car/ford/interface.py
  opendbc/car/ford/values.py
Labels: car, ford

#1137 Hyundai: Car Port for Kona 2022
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/tests/test_hyundai.py
  opendbc/car/hyundai/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/substitute.toml
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/tests/test_hyundai.py
Labels: car, hyundai, stale, car safety

#1269 Hyundai: Common DBC for CAN and CAN-FD Platforms
  opendbc/can/dbc.cc
  opendbc/car/hyundai/values.py
  opendbc/dbc/generator/hyundai/_hyundai_common.dbc
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
  opendbc/dbc/generator/hyundai/hyundai_palisade_2023.dbc
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: DBC signals, can, car, hyundai, car safety

#1815 VW MQB: Prep refactor for MEB checksum support
  opendbc/can/common.cc
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/common_dbc.h
  opendbc/can/dbc.cc
Labels: can

#1818 Safety tests: longitudinal flag
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
Labels: refactor, car safety

#1819 Ford: expand F-150 model year to include 2021
  docs/CARS.md
  opendbc/car/ford/values.py
Labels: car, ford

#1820 Ford: Adding 2023 F-150 RaptorR Fingerprint
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint

#1822 Ford: add Mach E fingerprint
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint

#1803 cereal: add currentCurvature to CarControl
  opendbc/car/car.capnp
Labels: car

#1816 VW MEB: CAN database and checksum support
  opendbc/can/common.cc
  opendbc/can/dbc.cc
  opendbc/dbc/vw_meb.dbc
Labels: DBC signals, can

#1275 Ford: Parse Lane Centering button from steering wheel
  opendbc/car/ford/carstate.py
Labels: car, ford, stale

#1825 Simplify Hyundai safety flag values
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1784 Rivian: fix resume from standstill
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/riviancan.py
Labels: car, rivian

#1814 Hyundai CAN Longitudinal: Enable for camera SCC cars
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_hyundai.py
Labels: car safety

#1806 Rivian: add radar support
  opendbc/car/rivian/radar_interface.py
  opendbc/car/rivian/values.py
  opendbc/dbc/generator/rivian/.gitignore
  opendbc/dbc/generator/rivian/rivian_mando_front_radar.py
Labels: DBC signals, car, rivian

#1753 Rivian: add Safety
  opendbc/car/rivian/values.py
  opendbc/car/torque_data/override.toml
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/test_rivian.py
Labels: car, rivian, car safety

#1829 Final Rivian fixes
  opendbc/car/rivian/carstate.py
  opendbc/car/torque_data/override.toml
Labels: car, rivian

#1832 Rivian: add EPS software FW query
  opendbc/car/rivian/fingerprints.py
  opendbc/car/rivian/values.py
  opendbc/car/tests/test_fw_fingerprint.py
Labels: car, rivian

#1836 VW MQB: Change source of gear position signal
  opendbc/car/volkswagen/carstate.py
  opendbc/car/volkswagen/values.py
  opendbc/dbc/vw_meb.dbc
  opendbc/dbc/vw_mqb_2010.dbc
Labels: DBC signals, car, volkswagen

#1837 Rivian: add passenger door open signals
  opendbc/car/rivian/carstate.py
  opendbc/dbc/rivian_can.dbc
Labels: DBC signals, car, rivian

#1841 Pull Tesla and Rivian out of dashcam
  docs/CARS.md
  opendbc/car/docs_definitions.py
  opendbc/car/rivian/interface.py
  opendbc/car/rivian/values.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/values.py
Labels: car, tesla, rivian

#1831 Rivian in release
  opendbc/car/rivian/interface.py
  opendbc/safety/safety.h
Labels: car, rivian, car safety

#1828 Hyundai CAN-FD Safety: Refactor TX message assignments
  opendbc/safety/safety/safety_hyundai_canfd.h
Labels: car safety

#1283 Hyundai CAN-FD Longitudinal: Enable for radar-based SCC platforms (non-HDA2)
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/car/hyundai/interface.py
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/hyundai_common.py
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: car, hyundai, car safety

#1843 Hyundai CAN-FD: Fix steering angle scaling
  opendbc/car/hyundai/carstate.py
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Labels: DBC signals, car, hyundai

#1844 Hyundai CAN-FD: Update wheel speed signal parsing
  opendbc/car/hyundai/carstate.py
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: DBC signals, car, hyundai, car safety

#1845 Hyundai CAN-FD Safety: Update vehicle speed conversion accuracy
  opendbc/safety/safety/safety_hyundai_canfd.h
Labels: car safety

#1846 HKG: Revert wheel speed safety changes
  opendbc/car/hyundai/carstate.py
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: DBC signals, car, hyundai, car safety

#1847 VW MQB: Cleanup and refactor in preparation for MEB
  opendbc/car/volkswagen/carstate.py
Labels: car, volkswagen

#1849 VW MQB: More cleanup and prep for MEB
  opendbc/dbc/vw_meb.dbc
  opendbc/safety/safety/safety_volkswagen_common.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
Labels: DBC signals, car safety

#1854 Move isotp.py, ccp.py and xcp.py from panda
  opendbc/car/ccp.py
  opendbc/car/isotp.py
  opendbc/car/xcp.py
Labels: car

#1808 Add vehicle_model.py
  opendbc/car/tests/test_vehicle_model.py
  opendbc/car/vehicle_model.py
Labels: car

#1866 Move safety replay to opendbc
  opendbc/safety/tests/safety_replay/__init__.py
  opendbc/safety/tests/safety_replay/helpers.py
  opendbc/safety/tests/safety_replay/replay_drive.py
Labels: car safety

#1868 Ford: combine lateral test
  opendbc/safety/safety.h
  opendbc/safety/tests/test_ford.py
Labels: car safety

#1864 Ford: simplify curvature error safety
  opendbc/car/ford/carcontroller.py
  opendbc/safety/safety.h
  opendbc/safety/tests/test_ford.py
Labels: car, ford, car safety

#1863 Tesla: Model3 Highland 2024 fingerprint
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#1857 Rivian: rename and cleanup DBC
  opendbc/car/rivian/values.py
  opendbc/dbc/rivian_primary_actuator.dbc
  opendbc/safety/tests/test_rivian.py
Labels: DBC signals, car, rivian, car safety

#1869 actuators: rename steer to torque
  opendbc/car/body/carcontroller.py
  opendbc/car/car.capnp
  opendbc/car/chrysler/carcontroller.py
  opendbc/car/chrysler/chryslercan.py
  opendbc/car/gm/carcontroller.py
  opendbc/car/gm/gmcan.py
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/hondacan.py
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/car/mazda/carcontroller.py
  opendbc/car/mazda/mazdacan.py
  opendbc/car/nissan/nissancan.py
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/riviancan.py
  opendbc/car/subaru/carcontroller.py
  opendbc/car/subaru/subarucan.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/volkswagen/carcontroller.py
  opendbc/car/volkswagen/mqbcan.py
  opendbc/car/volkswagen/pqcan.py
Labels: car, body, chrysler, gm, honda, hyundai, mazda, nissan, subaru, toyota, volkswagen, refactor, rivian

#1870 angle limits: enforce a max angle and inactive angle
  opendbc/car/__init__.py
  opendbc/car/nissan/carcontroller.py
  opendbc/car/nissan/values.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/values.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/values.py
Labels: car, nissan, tesla, toyota

#1871 Revert "Simplify Hyundai safety flag values"
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1874 safety: split torque and angle steering limits
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#1876 safety: consider max angle for inactive angle
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/tests/test_toyota.py
Labels: car safety

#1878 Fix car interface test
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/values.py
  opendbc/car/tests/test_car_interfaces.py
Labels: bugfix, car, ford

#1877 safety: fix various vehicle speed safety mismatches
  opendbc/car/nissan/carstate.py
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/libsafety/safety_helpers.h
  opendbc/safety/tests/libsafety/safety_helpers.py
  opendbc/safety/tests/test_tesla.py
Labels: car, nissan, car safety

#1850 Hyundai CAN-FD Safety: Update wheel speed signal parsing
  opendbc/car/hyundai/carstate.py
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: DBC signals, car, hyundai, car safety

#1879 Angle safety: test above max angle
  opendbc/car/nissan/values.py
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_nissan.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
Labels: car, nissan, car safety

#1882 fingerprint: 2023 Tesla Model Y (HW3)
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint
