Repository commaai/opendbc, pull requests merged in 2025-03, with the labels that each got.

#1873 Hyundai CAN FD: ADAS steering API updates
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/dbc/generator/hyundai/_hyundai_common.dbc
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: DBC signals, car, hyundai, car safety

#1885 angle limits: use a struct
  opendbc/car/__init__.py
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/values.py
  opendbc/car/nissan/carcontroller.py
  opendbc/car/nissan/values.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/values.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/values.py
Labels: car, ford, nissan, tesla, toyota

#1887 Hyundai CAN FD: add angle control signals to the DBC
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/dbc/generator/hyundai/_hyundai_common.dbc
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Labels: DBC signals, car, hyundai

#1889 Fix Ford CAN FD safety replay
  opendbc/safety/tests/safety_replay/helpers.py
  opendbc/safety/tests/safety_replay/replay_drive.py
Labels: car safety

#1890 safety replay: fix messages on segment boundaries not sorted
  opendbc/safety/tests/safety_replay/helpers.py
  opendbc/safety/tests/safety_replay/replay_drive.py
Labels: car safety

#1867 Replace gcov & lcov with gcovr
  opendbc/safety/tests/test.sh
  pyproject.toml
Labels: car safety

#1852 Ford Q4: limit max curvature from vehicle speed
  opendbc/car/ford/carcontroller.py
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/test_ford.py
Labels: car, ford, car safety

#1896 Ford CAN FD: enable safety in release
  opendbc/safety/safety/safety_ford.h
Labels: car safety

#1898 Hyundai CAN FD: test ACC cancel
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: bugfix, car safety

#1900 Coverage fixups
  opendbc/safety/tests/test.sh
Labels: car safety

#1906 Toyota: low speed lockout is a fault only if openpilot longitudinal
  opendbc/car/toyota/carstate.py
Labels: car, toyota

#1908 Ford CAN FD: SecOC is dashcam
  opendbc/car/ford/interface.py
Labels: car, ford

#1915 Tesla: add Model Y 2022 (HW3)
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#1920 website: use new highlight class
  opendbc/car/docs_definitions.py
Labels: car

#1919 `test_models_trigger.yaml`: add checkout check to prevent opendbc bump fail
  .github/workflows/test_models_trigger.yaml
Labels: CI / testing

#1918 Rivian: add VDM fault signal
  opendbc/car/rivian/carstate.py
Labels: car, rivian

#1921 Fulfillment parts
  opendbc/car/docs.py
Labels: car

#1923 Tesla: setSpeed is vEgo while disabled
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#1924 carcontroller cleanup
  opendbc/car/body/carcontroller.py
  opendbc/car/chrysler/carcontroller.py
  opendbc/car/honda/carcontroller.py
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/mazda/carcontroller.py
  opendbc/car/rivian/carcontroller.py
  opendbc/car/subaru/carcontroller.py
  opendbc/car/toyota/carcontroller.py
Labels: car, body, chrysler, honda, hyundai, mazda, subaru, toyota, rivian

#1925 docs: start extra cars clean up
  opendbc/car/CARS_template.md
  opendbc/car/docs.py
  opendbc/car/tests/test_docs.py
Labels: car

#1927 Rivian safety: test stock long accel actuation message
  opendbc/safety/tests/test_rivian.py
Labels: car safety

#1910 Rivian: cancel command
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/carstate.py
  opendbc/car/rivian/riviancan.py
  opendbc/dbc/rivian_primary_actuator.dbc
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/tests/test_rivian.py
Labels: DBC signals, car, rivian, car safety

#1842 Rivian: don't show set speed in UI
  opendbc/car/rivian/carstate.py
Labels: car, rivian

#1930 Replace @parameterized.expand with @pytest.mark.parametrize to improve test speed
  opendbc/car/tests/test_can_fingerprint.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/tests/test_routes.py
Labels: car

#1931 VW MEB: Reserve safety identifier
  opendbc/car/car.capnp
  opendbc/safety/safety.h
Labels: car, car safety

#1712 VW PQ: Add FW for 2012 Jetta Sportwagen TDI
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint

#1914 HKG: Add FW for 2020 Hyundai Ioniq HEV
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#1935 vin: add parse function
  opendbc/car/vin.py
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen, fingerprint

#1937 Vin helper class
  opendbc/car/vin.py
  opendbc/car/volkswagen/values.py
Labels: car, volkswagen

#1821 Rivian: VIN fuzzy fingerprinting
  opendbc/car/rivian/tests/__init__.py
  opendbc/car/rivian/tests/test_rivian.py
  opendbc/car/rivian/values.py
Labels: car, rivian

#1939 safety: checksum and counter are explicitly opt-out
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#1948 safety tests: common attrs
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_body.py
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_defaults.py
  opendbc/safety/tests/test_elm327.py
  opendbc/safety/tests/test_ford.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_honda.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_mazda.py
  opendbc/safety/tests/test_nissan.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_subaru_preglobal.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: car safety

#1949 Rivian safety: check missing rx addr
  opendbc/safety/safety/safety_rivian.h
Labels: car safety

#1951 Rivian: remove a VDM ACC fault signal
  opendbc/car/rivian/carstate.py
Labels: car, rivian

#1953 Toyota: Cleanup/fix safety RxChecks for SecOC
  opendbc/safety/safety/safety_toyota.h
Labels: car safety

#1957 parser_pyx: add nogil for improved threading performance
  opendbc/can/common.pxd
  opendbc/can/parser_pyx.pyx
Labels: can

#1960 Tesla: fix an ACC fault
  opendbc/car/tesla/teslacan.py
Labels: car, tesla

#1961 Tesla long: smoother stopping
  opendbc/car/tesla/interface.py
Labels: car, tesla

#1969 Hyundai Safety: Use safety flags in tests
  opendbc/safety/tests/test_hyundai.py
Labels: car safety

#1970 safety fwd hook: returns a bool
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_defaults.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
Labels: cleanup, car safety

#1971 Ford safety: only check relevant LKAS addresses
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/tests/test_ford.py
Labels: car safety

#1959 safety: relay malfunction config
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/test_honda.py
Labels: car safety

#1973 Hyundai: dashcam FCEV
  opendbc/car/hyundai/interface.py
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/tests/test_hyundai.py
Labels: car, hyundai, car safety

#1891 Hyundai CAN FD: Accurate hybrid powertrain detection
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#1978 Tesla: Autopilot enabled signal
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#1980 Tesla: fix incorrect DBC msg length
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#1982 Subaru Pre-Global: fix missing rx checks
  opendbc/dbc/generator/subaru/_subaru_preglobal_2015.dbc
  opendbc/safety/safety/safety_subaru_preglobal.h
Labels: DBC signals, car safety

#1981 Honda Nidec: missing brake command rx check
  opendbc/safety/safety/safety_honda.h
Labels: car safety

#1983 safety tests: remove redundant test skips
  opendbc/safety/tests/test_ford.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_honda.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: cleanup, car safety

#1984 GM safety: add missing regen rx check
  opendbc/car/gm/interface.py
  opendbc/car/gm/values.py
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_gm.py
Labels: car, gm, car safety

#1952 Fingerprint: 2022 Civic Si
  opendbc/car/honda/fingerprints.py
Labels: car, honda, fingerprint

#1986 Hyundai CAN FD safety: more clear what is common
  opendbc/safety/safety/safety_hyundai_canfd.h
Labels: car safety

#1987 Hyundai CANFD safety tests: common safety param combinations
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: car safety

#1985 Hyundai CAN FD safety: replace alt buttons live detection with param
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: car safety

#1989 Hyundai safety: add missing rx checks
  opendbc/safety/safety/safety_hyundai.h
Labels: car safety

#1903 safety: only run rx hooks on whitelisted msgs
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_defaults.h
  opendbc/safety/tests/test_body.py
Labels: car safety

#1974 Hyundai: Fix FCEV RX check and move out of dashcam
  opendbc/car/hyundai/interface.py
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_common.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_hyundai.py
Labels: car, hyundai, car safety

#1966 HKG: spas remove unused frame param
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/hyundai/hyundaicanfd.py
Labels: car, hyundai

#1911 Added FW for Mazda CX5 2025
  opendbc/car/mazda/fingerprints.py
Labels: car, mazda, fingerprint

#1975 Hyundai CAN FD: Fix steering messages in safety replay
  opendbc/safety/tests/safety_replay/helpers.py
Labels: car safety

#1990 Hyundai: split car controller by CAN FD
  opendbc/car/hyundai/carcontroller.py
Labels: car, hyundai

#1991 Toyota: add static rx check for alt brake
  opendbc/safety/safety/safety_toyota.h
Labels: bugfix, car safety

#1997 safety: start fwd hook config
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_defaults.h
  opendbc/safety/safety/safety_elm327.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2001 liveTracks: bool error fields
  opendbc/car/car.capnp
  opendbc/car/chrysler/radar_interface.py
  opendbc/car/ford/radar_interface.py
  opendbc/car/gm/radar_interface.py
  opendbc/car/honda/radar_interface.py
  opendbc/car/hyundai/radar_interface.py
  opendbc/car/rivian/radar_interface.py
  opendbc/car/toyota/radar_interface.py
Labels: car, chrysler, ford, gm, honda, hyundai, toyota, rivian

#2000 Ford: radar is invalid when in reverse
  opendbc/car/car.capnp
  opendbc/car/ford/radar_interface.py
  opendbc/car/gm/radar_interface.py
  opendbc/car/honda/radar_interface.py
Labels: bugfix, car, ford, gm, honda

#2002 car interfaces: each specify their own dependencies
  opendbc/car/body/interface.py
  opendbc/car/body/radar_interface.py
  opendbc/car/car_helpers.py
  opendbc/car/chrysler/interface.py
  opendbc/car/docs.py
  opendbc/car/ford/interface.py
  opendbc/car/gm/interface.py
  opendbc/car/honda/interface.py
  opendbc/car/hyundai/interface.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/interface.py
  opendbc/car/mazda/radar_interface.py
  opendbc/car/mock/interface.py
  opendbc/car/mock/radar_interface.py
  opendbc/car/nissan/interface.py
  opendbc/car/nissan/radar_interface.py
  opendbc/car/rivian/interface.py
  opendbc/car/subaru/interface.py
  opendbc/car/subaru/radar_interface.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/radar_interface.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/tests/test_lateral_limits.py
  opendbc/car/toyota/interface.py
  opendbc/car/volkswagen/interface.py
  opendbc/car/volkswagen/radar_interface.py
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2005 Safety Replay: add Hyundai Legacy to steering message checks
  opendbc/safety/tests/safety_replay/helpers.py
Labels: car safety

#2015 Rivian: don't forward stock LKAS
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/riviancan.py
  opendbc/dbc/rivian_primary_actuator.dbc
Labels: DBC signals, car, rivian

#2020 Rivian: adjust lateral actuator delay
  opendbc/car/rivian/interface.py
  opendbc/car/rivian/values.py
  opendbc/car/torque_data/override.toml
Labels: car, rivian

#2021 Rivian: set long safety flag
  opendbc/car/rivian/interface.py
Labels: car, rivian

#2023 Rivian safety: parse speed
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_rivian.py
Labels: car safety

#2024 safety: remove rt interval param
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_mazda.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_subaru_preglobal.py
  opendbc/safety/tests/test_toyota.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: car safety

#2025 safety tests: remove steer bit rt limit param
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_toyota.py
Labels: car safety

#2029 docs: add USB-C coupler to OBD-II harness
  opendbc/car/docs_definitions.py
Labels: car, docs

#2031 Rivian: add hardware part number query
  opendbc/car/fw_query_definitions.py
  opendbc/car/rivian/values.py
  opendbc/car/tests/test_fw_fingerprint.py
Labels: car, rivian

#2030 docs: remove comma power from J533 harness
  opendbc/car/docs_definitions.py
Labels: car, docs

#2035 GM: fix some ACC signals
  opendbc/car/gm/gmcan.py
  opendbc/dbc/generator/gm/gm_global_a_powertrain.dbc
Labels: DBC signals, car, gm

#2034 docs: add comma power for Nissan
  opendbc/car/docs_definitions.py
Labels: car, docs

#2036 Toyota: bump RAV4 ICE to 2025
  opendbc/car/toyota/values.py
Labels: car, toyota

#951 GM: fix ASCMGasRegenCmd scale and units
  opendbc/car/gm/carcontroller.py
  opendbc/car/gm/gmcan.py
  opendbc/car/gm/values.py
  opendbc/dbc/generator/gm/gm_global_a_powertrain.dbc
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_gm.py
Labels: DBC signals, car, gm, car safety

#2037 docs: add comma power to Rivian and Tesla harness
  opendbc/car/docs_definitions.py
Labels: car, docs

#2038 docs: add long OBD-C cable length
  opendbc/car/docs_definitions.py
Labels: car, docs

#2019 VW PQ: Rename DBC
  opendbc/can/dbc.cc
  opendbc/car/volkswagen/values.py
  opendbc/dbc/vw_pq.dbc
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: DBC signals, can, car, volkswagen, car safety

#2041 VW MQB: Rename DBC
  opendbc/can/dbc.cc
  opendbc/can/tests/test_checksums.py
  opendbc/car/volkswagen/values.py
  opendbc/dbc/vw_mqb.dbc
  opendbc/safety/tests/test_volkswagen_mqb.py
Labels: DBC signals, can, car, volkswagen, car safety

#2022 HKG: Add FW for 2018 Hyundai Ioniq Hybrid
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2028 HKG: Add FW for 2022 Hyundai Tucson
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#1995 Subaru: Add FW for 2022 Subaru Legacy
  opendbc/car/subaru/fingerprints.py
Labels: car, subaru, fingerprint

#2010 Subaru: Add FW for 2022 Subaru Outback Touring XL
  opendbc/car/subaru/fingerprints.py
Labels: car, subaru, fingerprint

#1993 Tesla: add Model 3 HW3 fingerprint
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#2018 HKG: Add FW for 2024 Kia Niro EV
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#2033 GM: check camera object data for radarUnavailable
  opendbc/car/gm/interface.py
  opendbc/car/gm/radar_interface.py
Labels: bugfix, car, gm

#2046 Tesla: steer at standstill
  opendbc/car/tesla/interface.py
Labels: car, tesla

#2039 docs: update comma power to v3
  opendbc/car/docs_definitions.py
Labels: car, docs

#2047 safety: support dynamic max torque from speed
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_hyundai_canfd.py
  opendbc/safety/tests/test_mazda.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_subaru_preglobal.py
  opendbc/safety/tests/test_toyota.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: car safety

#2048 Rivian: add all validity checks for speed message
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/tests/test_rivian.py
Labels: car safety

#2049 Rivian safety: check 2nd speed source
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/tests/test_rivian.py
Labels: car safety

#2016 Rivian: increase low speed torque
  opendbc/car/__init__.py
  opendbc/car/rivian/carcontroller.py
  opendbc/car/rivian/values.py
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/tests/test_rivian.py
Labels: car, rivian, car safety

#2051 Honda: update compatibility for Passport
  opendbc/car/honda/values.py
Labels: car, honda

#2054 Nissan: Fix typo in _nissan_common.dbc
  opendbc/dbc/generator/nissan/_nissan_common.dbc
Labels: DBC signals

#2056 Tesla: new Autopilot and other vehicle signals
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#2055 Tesla: block Autosteer
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#2057 Tesla: fix convenience blinker
  opendbc/car/tesla/carstate.py
Labels: car, tesla

#2062 use Github Actions macOS runners
  .github/workflows/tests.yml
Labels: CI / testing

#1668 Toyota: 2023 Toyota Yaris (JDM)
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/params.toml
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/values.py
Labels: car, toyota

#1956 CI: Set GIT_REF as an environment variable for safety mutation tests
  .github/workflows/tests.yml
Labels: CI / testing

#2066 Tesla: fingerprint Tesla Model Y 2024 (HW4)
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#2068 [Ford] F150 Lightning Fingerprint
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint
