Repository commaai/opendbc, pull requests merged in 2025-06, with the labels that each got.

#1835 Ford CANFD Radar Parser
  opendbc/car/ford/interface.py
  opendbc/car/ford/radar_interface.py
  opendbc/car/ford/values.py
Labels: car, ford

#1038 GWM Haval H6 PHEV 2024 DBC
  opendbc/dbc/gwm_haval_h6_phev_2024.dbc
Labels: DBC signals, stale

#2196 Mazda: Add FW for 2025 Mazda CX5
  opendbc/car/mazda/fingerprints.py
Labels: car, mazda, fingerprint

#2350 angle safety: reset to current angle for violation
  opendbc/safety/lateral.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2352 Revert "Ford CANFD Radar Parser"
  opendbc/car/ford/interface.py
  opendbc/car/ford/radar_interface.py
  opendbc/car/ford/values.py
Labels: car, ford

#2354 Tesla safety: check all invalid brake pressed values
  opendbc/safety/modes/tesla.h
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2356 Hyundai: fix dashcam setting
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#2355 Hyundai CAN FD: add supported configuration checking
  opendbc/car/hyundai/interface.py
Labels: car, hyundai

#2343 Tesla: simple angle frequency check
  opendbc/safety/lateral.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/common.py
  opendbc/safety/tests/test_tesla.py
Labels: car safety

#2364 Fix tire stiffness docstring
  opendbc/car/vehicle_model.py
Labels: car, codex

#2363 Rename CANDefine test class
  opendbc/can/tests/test_define.py
Labels: can, codex

#2377 Link Expedition to F150/Lightning install video
  opendbc/car/ford/values.py
Labels: car, ford

#2384 safety: fix coverage on macos
  opendbc/safety/tests/libsafety/SConscript
Labels: car safety

#2388 Add format_fingerprints.py
  opendbc/car/debug/format_fingerprints.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/mazda/fingerprints.py
  opendbc/car/subaru/fingerprints.py
  opendbc/car/tesla/fingerprints.py
Labels: car, honda, hyundai, mazda, subaru, tesla

#2389 Car docs: fix year test
  opendbc/car/honda/values.py
  opendbc/car/tests/test_docs.py
Labels: car, honda

#2394 Add Install video for Escape 2023-2024
  opendbc/car/ford/values.py
Labels: car, ford

#2416 fingerprints: add auto-formatted note
  opendbc/car/body/fingerprints.py
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/debug/format_fingerprints.py
  opendbc/car/ford/fingerprints.py
  opendbc/car/gm/fingerprints.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/mazda/fingerprints.py
  opendbc/car/nissan/fingerprints.py
  opendbc/car/rivian/fingerprints.py
  opendbc/car/subaru/fingerprints.py
  opendbc/car/tesla/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2415 UX250h Graceful Explorer 日本仕様（Japan-spec vehicle）
  opendbc/car/toyota/fingerprints.py
Labels: car, toyota, fingerprint

#2417 Toyota: remove extra community cars
  docs/CARS.md
  opendbc/car/extra_cars.py
  opendbc/car/toyota/values.py
Labels: car, toyota

#2418 Torque control defaults: more integrator
  opendbc/car/interfaces.py
Labels: car

#2412 VW MQB: Add FW for 2025 Audi Q3
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint

#2424 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/ford/fingerprints.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/rivian/fingerprints.py
  opendbc/car/toyota/fingerprints.py
  opendbc/car/volkswagen/fingerprints.py
Labels: car, chrysler, ford, hyundai, toyota, volkswagen, fingerprint, bot, docs, rivian
