Repository commaai/opendbc, pull requests merged in 2025-07, with the labels that each got.

#2397 Toyota: Add FW for 2025 Lexus LC (Taiwan)
  opendbc/car/toyota/fingerprints.py
  opendbc/car/toyota/values.py
Labels: car, toyota

#2299 Honda: Add FW for 2018 Honda Civic Hatchback
  opendbc/car/honda/fingerprints.py
Labels: car, honda, fingerprint

#2139 Mazda: Add FW for 2025 Mazda CX-5
  opendbc/car/mazda/fingerprints.py
Labels: car, mazda, fingerprint

#2430 Bronco special
  opendbc/car/ford/carcontroller.py
Labels: car, ford

#2435 Nissan: remove CAN fingerprints
  opendbc/car/nissan/fingerprints.py
Labels: car, nissan, fingerprint

#2420 HKG: Add hands-on detection signal for LFA2 vehicles
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Labels: DBC signals

#2438 HKG: Add FW for 2022 Hyundai Azera
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2440 Rivian: fix cluster message
  opendbc/dbc/rivian_primary_actuator.dbc
Labels: DBC signals

#2447 Torque control: rm localizer option
  opendbc/car/car.capnp
  opendbc/car/interfaces.py
Labels: car

#2423 can build script: relative rpath
  opendbc/can/SConscript
Labels: can

#2444 Rivian: add vEgoCluster
  opendbc/car/rivian/carstate.py
Labels: car, rivian

#2450 Fix external project build
  opendbc/can/SConscript
Labels: can

#2453 HKG: Add FW for 2024 Kia Niro EV
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2458 Honda: EPB message refactor
  opendbc/car/honda/carstate.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/_honda_common.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
  opendbc/dbc/generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
Labels: DBC signals, car, honda

#2463 Honda: Door open message refactor, part 1
  opendbc/car/honda/carstate.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
Labels: car, honda

#2464 Honda: Standstill message refactor, part 1
  opendbc/dbc/generator/honda/_bosch_standstill.dbc
  opendbc/dbc/generator/honda/acura_rdx_2020_can.dbc
  opendbc/dbc/generator/honda/honda_accord_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_crv_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_pilot_2023_can.dbc
Labels: DBC signals

#2465 Honda: Door open message refactor, part 2
  opendbc/car/honda/carstate.py
Labels: car, honda

#2469 Honda: Decommission China-market Odyssey
  opendbc/car/fingerprints.py
  opendbc/car/honda/carstate.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/substitute.toml
  opendbc/dbc/generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
Labels: DBC signals, car, honda

#2470 update all routes to new format
  opendbc/car/tests/routes.py
Labels: car

#2231 Allow configurable maximum angle for AngleSteeringSafetyTest
  opendbc/safety/tests/common.py
Labels: car safety

#2483 Honda: Alternate brake message refactor
  opendbc/dbc/generator/honda/_bosch_2018.dbc
  opendbc/dbc/generator/honda/acura_rdx_2020_can.dbc
  opendbc/dbc/generator/honda/honda_accord_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/generator/honda/honda_crv_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_pilot_2023_can.dbc
Labels: DBC signals

#2484 Honda: Steering sensors refactor
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
Labels: DBC signals

#2480 Subaru Docs: move tools to harness definition
  opendbc/car/docs_definitions.py
  opendbc/car/subaru/values.py
Labels: car, subaru

#2502 VW MQB: Add FW for 2022 Škoda Fabia
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint

#2506 Revert "Chevrolet Bolt EUV: update lat control base values"
  opendbc/car/torque_data/override.toml
Labels: car

#2508 Slimming `carState`, part 2
  opendbc/car/car.capnp
  opendbc/car/ford/carstate.py
  opendbc/car/honda/carstate.py
  opendbc/car/tesla/carstate.py
Labels: car, ford, honda, tesla

#2514 Slimming `carState`, part 6
  opendbc/car/chrysler/carstate.py
  opendbc/car/gm/carstate.py
  opendbc/car/honda/carstate.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/subaru/carstate.py
  opendbc/car/toyota/carstate.py
  opendbc/car/volkswagen/carstate.py
Labels: car, chrysler, gm, honda, hyundai, mazda, nissan, subaru, toyota, volkswagen

#2509 Slimming `carState`, part 3
  opendbc/car/hyundai/carstate.py
  opendbc/car/volkswagen/carstate.py
Labels: car, hyundai, volkswagen

#2516 Revert "Slimming `carState`, part 6"
  opendbc/car/chrysler/carstate.py
  opendbc/car/gm/carstate.py
  opendbc/car/honda/carstate.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/subaru/carstate.py
  opendbc/car/toyota/carstate.py
  opendbc/car/volkswagen/carstate.py
Labels: car, chrysler, gm, honda, hyundai, mazda, nissan, subaru, toyota, volkswagen

#2517 test_car_interfaces: reduce hypothesis space
  opendbc/car/tests/test_car_interfaces.py
Labels: car

#2518 hypothesis: remove draw call
  opendbc/car/tests/test_car_interfaces.py
Labels: car

#2487 Honda: Update docs, adding 2025 Civic Hybrid
  opendbc/car/honda/values.py
Labels: car, honda

#2524 Honda: Bosch SCM message refactor
  opendbc/dbc/generator/honda/_bosch_2018.dbc
Labels: DBC signals

#2457 Honda: Gear position message refactor
  opendbc/car/honda/carstate.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/dbc/generator/honda/_gearbox_common.dbc
  opendbc/dbc/generator/honda/acura_ilx_2016_can.dbc
  opendbc/dbc/generator/honda/acura_rdx_2018_can.dbc
  opendbc/dbc/generator/honda/acura_rdx_2020_can.dbc
  opendbc/dbc/generator/honda/honda_accord_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_crv_ex_2017_can.dbc
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_crv_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_insight_ex_2019_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
  opendbc/dbc/generator/honda/honda_pilot_2023_can.dbc
Labels: DBC signals, car, honda

#2525 Honda: Acura RDX is a snowflake
  opendbc/car/honda/interface.py
Labels: car, honda

#2515 Chrysler: Add FW for 2025 Chrysler Pacifica Hybrid
  opendbc/car/chrysler/fingerprints.py
  opendbc/car/chrysler/values.py
Labels: car, chrysler

#2527 CANParser: auto-detect frequency
  SConstruct
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/parser.cc
  opendbc/can/parser_pyx.pyx
Labels: can

#2530 VW: conditionally add Kombi check
  opendbc/car/volkswagen/carstate.py
Labels: car, volkswagen

#2537 CANPacker: python rewrite
  opendbc/can/SConscript
  opendbc/can/__init__.py
  opendbc/can/common.h
  opendbc/can/packer.cc
  opendbc/can/packer.py
  opendbc/can/packer_pyx.pyx
Labels: can, codex

#2539 CANParser: python rewrite
  SConscript
  SConstruct
  lefthook.yml
  opendbc/can/SConscript
  opendbc/can/__init__.py
  opendbc/can/car_specific.cc
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/dbc.cc
  opendbc/can/dbc.h
  opendbc/can/logger.h
  opendbc/can/packer.py
  opendbc/can/parser.cc
  opendbc/can/parser.py
  opendbc/can/parser_pyx.pyx
  opendbc/can/tests/test_dbc_exceptions.py
  pyproject.toml
  site_scons/site_tools/cython.py
Labels: can, codex

#2533 Docs: Add missing Youtube icon to `SETUP_VIDEO`
  opendbc/car/docs_definitions.py
Labels: car

#2532 Fix orange LDWS light when OP is engaged for 2022 Kia Niro PHEV
  opendbc/car/hyundai/hyundaican.py
Labels: car, hyundai

#2542 parser profiling
  opendbc/can/tests/benchmark.py
  opendbc/can/tests/test_parser_performance.py
Labels: can

#2547 car dynamic parsing fixups
  opendbc/car/hyundai/carstate.py
  opendbc/car/toyota/carstate.py
  opendbc/car/volkswagen/carstate.py
Labels: car, hyundai, toyota, volkswagen

#2550 Honda: Common platform config for CAN-FD
  opendbc/car/honda/values.py
  opendbc/dbc/generator/honda/honda_common_canfd.dbc
Labels: DBC signals, car, honda

#2551 Revert "Revert "Slimming `carState`, part 1 (#2504)" (#2513)"
  opendbc/car/car.capnp
  opendbc/car/chrysler/carstate.py
  opendbc/car/ford/carstate.py
  opendbc/car/gm/carstate.py
  opendbc/car/honda/carstate.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/rivian/carstate.py
  opendbc/car/subaru/carstate.py
  opendbc/car/tesla/carstate.py
  opendbc/car/toyota/carstate.py
  opendbc/car/volkswagen/carstate.py
Labels: car, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2552 safety: misc cleanups
  .gitignore
  opendbc/safety/modes/body.h
  opendbc/safety/modes/elm327.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai_common.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/volkswagen_common.h
  opendbc/safety/safety.h
  opendbc/safety/tests/misra/main.c
  opendbc/safety/tests/misra/test_misra.sh
  opendbc/safety/tests/test_body.py
Labels: car safety

#2553 safety: to_push/to_send -> msg
  .gitignore
  opendbc/safety/modes/body.h
  opendbc/safety/modes/chrysler.h
  opendbc/safety/modes/defaults.h
  opendbc/safety/modes/elm327.h
  opendbc/safety/modes/ford.h
  opendbc/safety/modes/gm.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai.h
  opendbc/safety/modes/hyundai_canfd.h
  opendbc/safety/modes/hyundai_common.h
  opendbc/safety/modes/mazda.h
  opendbc/safety/modes/nissan.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/modes/toyota.h
  opendbc/safety/modes/volkswagen_common.h
  opendbc/safety/modes/volkswagen_mqb.h
  opendbc/safety/modes/volkswagen_pq.h
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/libsafety/libsafety_py.py
  opendbc/safety/tests/libsafety/safety.c
  opendbc/safety/tests/safety_replay/helpers.py
  opendbc/safety/tests/safety_replay/replay_drive.py
  opendbc/safety/tests/test_ford.py
  opendbc/safety/tests/test_honda.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_tesla.py
  opendbc/safety/tests/test_toyota.py
Labels: car safety

#2558 Deprecate carState.gas
  opendbc/car/car.capnp
  opendbc/car/chrysler/carstate.py
  opendbc/car/ford/carstate.py
  opendbc/car/gm/carstate.py
  opendbc/car/honda/carstate.py
  opendbc/car/hyundai/carstate.py
  opendbc/car/mazda/carstate.py
  opendbc/car/nissan/carstate.py
  opendbc/car/rivian/carstate.py
  opendbc/car/subaru/carstate.py
  opendbc/car/tesla/carstate.py
  opendbc/car/toyota/carstate.py
  opendbc/car/volkswagen/carstate.py
Labels: car, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2561 safety: cleanup frequency specification
  opendbc/safety/modes/body.h
  opendbc/safety/modes/chrysler.h
  opendbc/safety/modes/ford.h
  opendbc/safety/modes/gm.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai.h
  opendbc/safety/modes/hyundai_canfd.h
  opendbc/safety/modes/mazda.h
  opendbc/safety/modes/nissan.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/modes/toyota.h
  opendbc/safety/modes/volkswagen_mqb.h
  opendbc/safety/modes/volkswagen_pq.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2566 safety: make RX checks go invalid on unset frequency
  opendbc/safety/safety.h
Labels: car safety

#2573 Tesla: add ESP Status
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#2575 Fix busTimeout on Chevy Bolt during startup
  opendbc/can/parser.py
Labels: can

#2576 Docs: add vid link to comma body
  opendbc/car/body/values.py
Labels: car, body

#2578 port over test_models from openpilot
  .github/workflows/tests.yml
Labels: CI / testing

#2577 packer & parser logging
  opendbc/can/packer.py
  opendbc/can/parser.py
Labels: can

#2572 rm GET_BUS
  opendbc/safety/board/can_declarations.h
  opendbc/safety/modes/chrysler.h
  opendbc/safety/modes/ford.h
  opendbc/safety/modes/gm.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai.h
  opendbc/safety/modes/hyundai_canfd.h
  opendbc/safety/modes/mazda.h
  opendbc/safety/modes/nissan.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/modes/toyota.h
  opendbc/safety/modes/volkswagen_mqb.h
  opendbc/safety/modes/volkswagen_pq.h
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2579 safety: rm GET_ADDR
  opendbc/safety/board/can_declarations.h
  opendbc/safety/modes/body.h
  opendbc/safety/modes/chrysler.h
  opendbc/safety/modes/elm327.h
  opendbc/safety/modes/ford.h
  opendbc/safety/modes/gm.h
  opendbc/safety/modes/honda.h
  opendbc/safety/modes/hyundai.h
  opendbc/safety/modes/hyundai_canfd.h
  opendbc/safety/modes/hyundai_common.h
  opendbc/safety/modes/mazda.h
  opendbc/safety/modes/nissan.h
  opendbc/safety/modes/rivian.h
  opendbc/safety/modes/subaru.h
  opendbc/safety/modes/subaru_preglobal.h
  opendbc/safety/modes/tesla.h
  opendbc/safety/modes/toyota.h
  opendbc/safety/modes/volkswagen_common.h
  opendbc/safety/modes/volkswagen_mqb.h
  opendbc/safety/modes/volkswagen_pq.h
  opendbc/safety/safety.h
Labels: car safety

#2583 Test: ELM327 GM camera diagnostic address with malformed length
  opendbc/safety/tests/test_elm327.py
Labels: car safety

#2603 parser: set timeout threshold in one place
  opendbc/can/parser.py
Labels: can
