Repository commaai/opendbc, pull requests merged in 2025-08, with the labels that each got.

#2606 Hyundai: update Telluride mount
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#2594 refactor: move lateral methods from init to lateral.py
  opendbc/car/__init__.py
  opendbc/car/chrysler/carcontroller.py
  opendbc/car/ford/carcontroller.py
  opendbc/car/ford/values.py
  opendbc/car/gm/carcontroller.py
  opendbc/car/hyundai/carcontroller.py
  opendbc/car/lateral.py
  opendbc/car/mazda/carcontroller.py
  opendbc/car/nissan/carcontroller.py
  opendbc/car/nissan/values.py
  opendbc/car/rivian/carcontroller.py
  opendbc/car/subaru/carcontroller.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/values.py
  opendbc/car/toyota/carcontroller.py
  opendbc/car/toyota/values.py
  opendbc/car/volkswagen/carcontroller.py
Labels: car, chrysler, ford, gm, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2608 refactor: consolidate ACCELERATION_DUE_TO_GRAVITY import path
  opendbc/car/vehicle_model.py
Labels: car

#2609 Toyota: air conditioner states, extra light stalk signals
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
Labels: DBC signals

#2615 PSA: add DBC for AEE2010_R3 electronic architecture
  opendbc/dbc/psa_aee2010_r3.dbc
Labels: DBC signals

#2619 test_models cleanup
  .github/workflows/test_models_trigger.yaml
Labels: CI / testing

#2620 Honda: Cleanup LKAS_HUD signal overlaps
  opendbc/car/honda/hondacan.py
  opendbc/dbc/generator/honda/_bosch_adas_2018.dbc
  opendbc/dbc/generator/honda/_nidec_common.dbc
  opendbc/dbc/generator/honda/honda_civic_ex_2022_can.dbc
  opendbc/dbc/generator/honda/honda_common_canfd.dbc
Labels: DBC signals, car, honda

#2621 ruff: enable preview rules
  examples/joystick.py
  examples/kbhit.py
  opendbc/can/dbc.py
  opendbc/can/parser.py
  opendbc/can/tests/benchmark.py
  opendbc/can/tests/test_packer_parser.py
  opendbc/car/__init__.py
  opendbc/car/ccp.py
  opendbc/car/chrysler/chryslercan.py
  opendbc/car/chrysler/radar_interface.py
  opendbc/car/chrysler/values.py
  opendbc/car/common/conversions.py
  opendbc/car/common/pid.py
  opendbc/car/ford/values.py
  opendbc/car/gm/carstate.py
  opendbc/car/gm/values.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/hyundaicanfd.py
  opendbc/car/hyundai/radar_interface.py
  opendbc/car/interfaces.py
  opendbc/car/isotp.py
  opendbc/car/mazda/mazdacan.py
  opendbc/car/panda_runner.py
  opendbc/car/rivian/radar_interface.py
  opendbc/car/secoc.py
  opendbc/car/subaru/subarucan.py
  opendbc/car/toyota/radar_interface.py
  opendbc/car/toyota/values.py
  opendbc/car/uds.py
  opendbc/car/volkswagen/carstate.py
  opendbc/car/volkswagen/tests/test_volkswagen.py
  opendbc/car/xcp.py
  opendbc/dbc/generator/generator.py
  opendbc/dbc/generator/tesla/_radar_common.py
  opendbc/safety/tests/libsafety/libsafety_py.py
  opendbc/safety/tests/libsafety/safety_helpers.py
  opendbc/safety/tests/misra/test_mutation.py
  opendbc/safety/tests/safety_replay/helpers.py
  opendbc/safety/tests/safety_replay/replay_drive.py
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_honda.py
  opendbc/safety/tests/test_hyundai.py
  opendbc/safety/tests/test_subaru.py
  opendbc/safety/tests/test_volkswagen_pq.py
  pyproject.toml
Labels: DBC signals, can, car, chrysler, ford, gm, honda, hyundai, mazda, subaru, toyota, volkswagen, rivian, car safety

#2617 [bot] Fingerprints: add missing FW versions from new users
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint, bot, docs

#2624 Honda: Disengage stock ACC on regen paddle
  opendbc/car/honda/carstate.py
Labels: car, honda

#2625 Honda: CAN-FD platform cleanup
  opendbc/car/honda/carcontroller.py
  opendbc/car/honda/interface.py
Labels: car, honda

#2626 Honda: Bosch CAN-FD platform safety
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/safety/modes/honda.h
  opendbc/safety/tests/test_honda.py
Labels: car, honda, car safety

#2631 Honda: Bosch CAN-FD platform cleanup, part 2
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
Labels: car, honda

#2610 Honda: Accord 2023-2025 (canfd)
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, honda

#2614 Added FW for Subaru XV 2018
  opendbc/car/subaru/fingerprints.py
Labels: car, subaru, fingerprint

#2482 Honda: Nidec SCM message refactor
  opendbc/dbc/generator/honda/_nidec_scm_group_a.dbc
  opendbc/dbc/generator/honda/_nidec_scm_group_b.dbc
  opendbc/dbc/generator/honda/acura_ilx_2016_can.dbc
  opendbc/dbc/generator/honda/acura_rdx_2018_can.dbc
  opendbc/dbc/generator/honda/honda_civic_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_clarity_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_crv_executive_2016_can.dbc
  opendbc/dbc/generator/honda/honda_crv_touring_2016_can.dbc
  opendbc/dbc/generator/honda/honda_fit_ex_2018_can.dbc
  opendbc/dbc/generator/honda/honda_fit_hybrid_2018_can.dbc
  opendbc/dbc/generator/honda/honda_odyssey_exl_2018.dbc
Labels: DBC signals

#2270 Honda: Updating community and unsupported car docs
  opendbc/car/CARS_template.md
  opendbc/car/extra_cars.py
Labels: car

#2643 Revert "Honda: Disengage stock ACC on regen paddle"
  opendbc/car/honda/carstate.py
Labels: car, honda

#2636 Honda: Pilot 2023-2025 (canfd)
  opendbc/car/extra_cars.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/torque_data/override.toml
Labels: car, honda

#2129 Honda: Acura MDX 2025 (canfd)
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
Labels: car, honda

#2649 VW MQB: Add FW for 2017 Volkswagen Passat GTE
  opendbc/car/volkswagen/fingerprints.py
Labels: car, volkswagen, fingerprint

#2644 Toyota: Add FW for 2020 Toyota Corolla Sport JDM
  opendbc/car/toyota/fingerprints.py
Labels: car, toyota, fingerprint

#2641 HKG: Add FW for 2019 Kia Sorento
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2652 Honda: Add FW for 2025 Honda HR-V
  opendbc/car/honda/fingerprints.py
Labels: car, honda, fingerprint

#2528 Torque controller: refactor calculations to be in accel space
  opendbc/car/gm/interface.py
  opendbc/car/interfaces.py
  opendbc/car/lateral.py
  opendbc/car/torque_data/neural_ff_weights.json
Labels: car, gm

#2668 Fix mutation test timing out for big changes
  .github/workflows/tests.yml
  opendbc/safety/tests/mutation.sh
Labels: CI / testing, car safety

#2637 HKG: fix 1b5
  opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Labels: DBC signals

#2672 Honda: remove EPS mod support
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
Labels: car, honda

#2669 Nissan: add new fingerprint for Nissan Leaf 2021 UK
  opendbc/car/nissan/fingerprints.py
Labels: car, nissan, fingerprint

#2678 Increase timeout if cache not hit
  .github/workflows/cache/action.yaml
  .github/workflows/tests.yml
Labels: CI / testing

#2684 Honda: UDS config cleanup for Bosch radarless
  opendbc/car/honda/values.py
Labels: car, honda

#2689 HKG: Add FW for 2020 Kia Niro EV
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2694 Honda: Interface refactor, part 1
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
Labels: car, honda
