Repository commaai/opendbc, pull requests merged in 2025-04, with the labels that each got.

#2040 Mazda: Add FW for 2022 Mazda CX-5
  opendbc/car/mazda/fingerprints.py
Labels: car, mazda, fingerprint

#2059 Tesla: fingerprint Model 3 (2023) HW3
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#2069 Tesla: fingerprint Model 3 2025 (HW4)
  opendbc/car/tesla/fingerprints.py
  opendbc/car/tesla/values.py
Labels: car, tesla

#2070 CI: Fix `GIT_REF` formatting in safety mutation workflow
  .github/workflows/tests.yml
Labels: CI / testing

#2081 docs: add setup video link
  opendbc/car/docs_definitions.py
  opendbc/car/rivian/values.py
Labels: car, rivian

#2073 Tesla: add Model 3 2023 (HW3)
  opendbc/car/tesla/fingerprints.py
Labels: car, tesla, fingerprint

#2088 safety: split relay malfunction and generic rx checks
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
Labels: cleanup, car safety

#1856 Honda: Support Civic Hybrids
  opendbc/car/honda/carstate.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/tests/routes.py
Labels: car, honda

#2093 safety: switch to field initializer for check_relay
  opendbc/safety/safety/safety_body.h
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
Labels: cleanup, car safety

#2092 safety: block messages with static config
  opendbc/safety/safety.h
  opendbc/safety/safety/safety_ford.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_tesla.h
  opendbc/safety/safety_declarations.h
  opendbc/safety/tests/test_hyundai.py
Labels: car safety

#2096 safety: move Toyota to msg block config
  opendbc/safety/safety/safety_toyota.h
  opendbc/safety/tests/misra/test_mutation.py
  opendbc/safety/tests/test_toyota.py
Labels: car safety

#2097 GM ASCM safety: use disable_forwarding
  opendbc/safety/safety/safety_gm.h
Labels: car safety

#2098 safety: move Subaru to msg block config
  opendbc/safety/safety/safety_subaru.h
  opendbc/safety/tests/test_subaru.py
Labels: car safety

#2099 safety: move Hyundai to msg block config
  opendbc/safety/safety/safety_hyundai.h
  opendbc/safety/tests/test_hyundai.py
Labels: car safety

#2095 safety: block all messages with static config
  opendbc/safety/safety/safety_chrysler.h
  opendbc/safety/safety/safety_gm.h
  opendbc/safety/safety/safety_mazda.h
  opendbc/safety/safety/safety_nissan.h
  opendbc/safety/safety/safety_rivian.h
  opendbc/safety/safety/safety_subaru_preglobal.h
  opendbc/safety/safety/safety_volkswagen_mqb.h
  opendbc/safety/safety/safety_volkswagen_pq.h
  opendbc/safety/tests/test_chrysler.py
  opendbc/safety/tests/test_gm.py
  opendbc/safety/tests/test_mazda.py
  opendbc/safety/tests/test_nissan.py
  opendbc/safety/tests/test_rivian.py
  opendbc/safety/tests/test_subaru_preglobal.py
  opendbc/safety/tests/test_volkswagen_mqb.py
  opendbc/safety/tests/test_volkswagen_pq.py
Labels: car safety

#2085 FingerPrint F-150
  opendbc/car/ford/fingerprints.py
Labels: car, ford, fingerprint

#2107 safety: move Hyundai CAN FD to msg block config
  opendbc/safety/safety/safety_hyundai_canfd.h
  opendbc/safety/tests/test_hyundai_canfd.py
Labels: cleanup, hyundai, car safety

#2110 Honda: Bosch LKAS HUD update
  opendbc/dbc/generator/honda/_bosch_adas_2018.dbc
Labels: DBC signals

#1826 Chevrolet Bolt EUV: update lat control base values
  opendbc/car/torque_data/override.toml
Labels: car

#2114 Rename experimental long
  opendbc/car/body/interface.py
  opendbc/car/car.capnp
  opendbc/car/car_helpers.py
  opendbc/car/chrysler/interface.py
  opendbc/car/docs.py
  opendbc/car/docs_definitions.py
  opendbc/car/ford/interface.py
  opendbc/car/gm/interface.py
  opendbc/car/honda/interface.py
  opendbc/car/hyundai/interface.py
  opendbc/car/interfaces.py
  opendbc/car/mazda/interface.py
  opendbc/car/mock/interface.py
  opendbc/car/nissan/interface.py
  opendbc/car/rivian/interface.py
  opendbc/car/subaru/interface.py
  opendbc/car/subaru/values.py
  opendbc/car/tesla/interface.py
  opendbc/car/tests/test_car_interfaces.py
  opendbc/car/toyota/interface.py
  opendbc/car/volkswagen/interface.py
Labels: car, body, chrysler, ford, gm, honda, hyundai, mazda, nissan, subaru, tesla, toyota, volkswagen, rivian

#2103 safety: move Honda to msg block config
  opendbc/safety/safety/safety_honda.h
  opendbc/safety/tests/test_honda.py
Labels: car safety

#2076 No-op changes to make Panda happy
  opendbc/safety/board/drivers/can_common.h
  opendbc/safety/board/utils.h
  opendbc/safety/safety.h
  opendbc/safety/safety_declarations.h
Labels: car safety

#2113 Add support my EU version of SantaFe
  opendbc/car/hyundai/fingerprints.py
Labels: car, hyundai, fingerprint

#2126 Rivian: alternative Ignition Signal
  opendbc/dbc/rivian_primary_actuator.dbc
Labels: DBC signals

#2118 Honda Bosch: CAN FD Pilot 2023
  docs/CARS.md
  opendbc/car/honda/carstate.py
  opendbc/car/honda/fingerprints.py
  opendbc/car/honda/hondacan.py
  opendbc/car/honda/interface.py
  opendbc/car/honda/values.py
  opendbc/car/tests/routes.py
  opendbc/car/torque_data/override.toml
  opendbc/safety/safety/safety_honda.h
Labels: car, honda, car safety

#2122 feat(Tesla): add setup note pointing to wiki
  opendbc/car/tesla/values.py
Labels: car, tesla

#2133 Tesla: add DAS_road Signal
  opendbc/dbc/tesla_model3_party.dbc
Labels: DBC signals

#2136 Rivian: add park assist dbc
  opendbc/dbc/rivian_park_assist_can.dbc
Labels: DBC signals

#2072 Kona 2022 alt limit flag
  opendbc/car/hyundai/values.py
Labels: car, hyundai

#2137 Nissan: Added ProPilot brake pressure signal
  opendbc/dbc/generator/nissan/_nissan_common.dbc
Labels: DBC signals

#2163 Honda: 2025 HRV
  opendbc/car/honda/values.py
Labels: car, honda

#2169 safety replay: add Tesla support
  opendbc/safety/tests/safety_replay/helpers.py
Labels: car safety
